.page-title-section {
    background: var(--linear_gradient);
}

.post-cat-list {
    margin: 30px 0;
}
.post-cat-list span {
    background: #16617d;
    padding: 5px 10px;
}

.post-cat-list span a {
    color: var(--white);
}

.page-title h2,
.page-title p {
    color: var(--white);
}
.page-title h2 {
    font-size: 32px;
    font-weight: 700;
}
.page-title p {
    font-size: 16px;
    font-weight: 400;
}
.book-hotel-content-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px;
}
.book-hotel-item {
    width: 31.5%;
    width: calc(33.33% - 20px);
    background: var(--white);
    padding: 14px 16px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.book-hotel-item h3.entry-title {
    font-size: 18px;
    margin-bottom: 0.5em;
    line-height: 18px;
}
.book-hotel-item .post-meta {
    margin-bottom: 23px;
}
.book-hotel-item .post-meta span {
    padding-right: 10px;
}
.book-hotel-item .post-meta span a {
    color: var(--primary);
}
.book-hotel-item .post-meta span a:hover {
    color: var(--secondary);
}
.book-hotel-item .post-content p {
    font-size: 14px;
    color: #234;
    line-height: 147.532%;
}

.book-hotel-item .btn-wrap {
    text-align: right;
}
.book-hotel-item .btn-wrap .box-button {
    background: #f18326;
}
.book-hotel-item .btn-wrap .box-button:hover {
    background: var(--primary);
}

.travel-destinations h6.entry-title {
    font-size: 20px;
    font-weight: 600;
}
.destinations-theme .holiday-slider-items-wrap .item {
    border-radius: 10px;
    background: #dbf2fb;
    padding: 25px 11px 14px;
    text-align: center;
}
.destinations-theme .holiday-slider-items-wrap .item h5.entry-title {
    padding: 0 43px;
    font-size: 16px;
}

.destinations-theme .holiday-slider-items-wrap .item::before {
    position: relative;
}

.accordion-item-wrap {
    background: var(--white);
    padding: 45px 30px;
    border-radius: 5px;
}
.accordion-item-wrap h2.entry-title {
    font-weight: 600;
    font-size: 32px;
}

.accordion-item {
    border-bottom: 1px solid #dfdfdf;
    padding: 36px 0 29px;
    position: relative;
}
.accordion-item-wrap .accordion-item.current .accordion-icon:before {
    content: "\f107";
    color: #748582;
    padding-top: 8px;
}
.accordion-icon {
    height: 24px;
    width: 24px;
    position: absolute;
    border-radius: 60px;
    text-align: center;
    cursor: pointer;
    z-index: 9;
    right: 20px;
    top: 27px;
}
.accordion-item-wrap .accordion-item .accordion-icon:before {
    content: "\f106";
    display: inline-block;
    position: absolute;
    top: 0;
    text-align: center;
    color: #585858;
    font-size: 20px;
    padding-top: 8px;
    font-family: "FontAwesome";
    left: 0;
    right: 0;
    margin: auto;
}

.accordion-item .toggle {
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 7px;
}

.accordion-content {
    font-size: 16px;
}
.site-main > section.stay-in-info {
    padding-top: 44px;
}

.stay-in-info-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    justify-content: center;
    gap: 30px;
    border-top: 1px dotted var(--black);
    padding: 40px 0;
}
.stay-in-info-item h4.entry-title {
    font-size: 18px;
    font-style: normal;
    color: var(--black);
}
.circle-text-wrapper {
    position: fixed;
    right: 50px;
    bottom: 10px;
}

.login-waka-points {
    display: flex;
}

.flight-search-waka-points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 10px 15px;
    background: var(--primary);
    border-radius: 3px;
    margin-bottom: 20px;
    align-items: center;
    color: var(--white);
}

.flight-search-waka-points.sign-out-waka-points {
    background: var(--white);
    color: var(--text-color);
    font-size: 400;
}

.flight-search-waka-points.sign-out-waka-points h4 span {
    color: var(--primary);
    font-size: 600;
}

.flight-search-waka-points h4 span {
    font-size: 20px;
}

.flight-search-waka-points figure {
    margin: 0px auto 0;
}

.login-waka-points .create-acc-btn > a {
    font-size: 11px;
    color: var(--secondary);
}

.waka-points-wrapper .waka-gift-content span {
    color: var(--primary);
}

.child-seat {
    border: 1px solid var(--gray);
    padding: 20px 20px 0 20px;
    margin-bottom: 30px;
}
.child-seat .seat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.child-seat-request {
    color: var(--primary);
    padding: 10px 0;
}

/* flight calendar popup start */

.child-seat-request-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.child-seat-popup-content {
    max-width: 820px;
    margin: auto;
    background: var(--white);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    overflow: hidden;
    padding: 50px;
}

.child-seat-popup-header h5 {
    font-size: 26px;
    margin-bottom: 5px;
}
.child-seat-popup-header {
    margin-bottom: 50px;
}

.child-seat-popup-content .cross-icon {
    position: absolute;
    top: 25px;
    right: 15px;
    cursor: pointer;
}

.seat-request-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.seat-request-form .seat-info h5 {
    margin-bottom: 4px;
}

.seat-number {
    width: 150px;
}

.seat-request-form .seat-info {
    width: 75%;
    width: calc(100% - 150px);
    width: -webkit-calc(100% - 150px);
    padding-right: 5px;
}

.seat-request-form input[type="text"] {
    border: none;
    padding: 10px 10px;
    margin: 0;
    text-align: center;
}

.seat-request-form .seat-number span {
    cursor: pointer;
}

.seat-number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e9e9e9;
    padding: 0 18px;
}

.child-seat-btn-wrapper {
    margin: 20px -50px 0 -50px;
    padding: 0 20px 15px 20px;
    border-top: 1px solid var(--gray);
    text-align: right;
}
.child-seat-btn-wrapper .box-button {
    margin: 20px 50px 0 0;
}

.child-seat.active .seat {
    display: none;
}

.site-content section.holidays-packages {
    padding: 30px 0;
}

.holidays-packages .slider-content-wrap {
    background: none;
    padding: 0;
    border-radius: 0;
}

.holidays-packages .entry-header {
    margin: 40px 0;
}

.holidays-packages .slider-content-wrap h2.entry-title {
    margin-bottom: 8px;
}

.holidays-packages .entry-header p {
    font-size: 16px;
}

.holidays-packages .holiday-slider-items-wrap .item::before {
    opacity: 0;
    visibility: hidden;
}

.holidays-packages .holiday-slider-items-wrap .item .entry-content {
    position: relative;
    bottom: unset;
    padding: 20px;
    background: var(--white);
}

.holidays-packages .item h6 {
    margin-bottom: 10px;
}

.holidays-packages .holiday-slider-items-wrap .item a {
    color: var(--black);
    font-weight: 500;
    font-size: 20px;
}
.holidays-packages .holiday-slider-items-wrap .item .duration {
    color: var(--black);
    margin-bottom: 25px;
}

.holidays-packages .holiday-slider-items-wrap .slick-arrow {
    top: 50%;
    transform: translateY(-50%);
    z-index: 11;
}

.holidays-packages .holiday-slider-items-wrap .slick-prev {
    left: -10px;
    right: unset;
}

.holidays-packages .holiday-slider-items-wrap .slick-next {
    right: -20px;
}
.holidays-packages .item .figure {
    position: relative;
}
.holidays-packages .item .country {
    position: absolute;
    left: 15px;
    top: 15px;
    background: #0d3f5a;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

.holidays-packages .item .country span i {
    padding-right: 5px;
}

.holidays-packages .item .post-meta {
    border-top: 1px solid #e9e9e9;
    padding-top: 30px;
}

.holidays-packages .holiday-slider-items-wrap .post-meta,
.holidays-packages .holiday-slider-items-wrap .price-wrap {
    text-align: start;
}

.holiday-packages-price h3 {
    font-size: 23px;
    font-size: 500;
    margin-bottom: 0;
}

.holidays-packages .holiday-slider-items-wrap .item .date-meta span a {
    color: var(--primary);
    font-size: 14px;
}

.holiday-packages-price .conditions {
    font-size: 10px;
}

.holiday-slider-items-wrap {
    margin: 0 -10px;
}

.holiday-slider-items-wrap .item {
    margin: 0 10px 10px 10px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.holiday-slider-items-wrap .item::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    z-index: 1;
    background: linear-gradient(
        180deg,
        rgba(47, 38, 38, 0) 0%,
        var(--black) 100%
    );
}

.holiday-slider-items-wrap .featured-image {
    margin-bottom: 0;
}

.holiday-slider-items-wrap .featured-image img {
    width: 100%;
    height: 100%;
}

.holiday-slider-items-wrap .item .entry-content {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    padding: 0 20px;
    z-index: 1;
}

.holiday-slider-items-wrap .item .category {
    background: var(--white);
    padding: 4px;
    display: inline-block;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 700;
}

.holiday-slider-items-wrap .item a {
    color: var(--white);
}

.holiday-slider-items-wrap .item a:hover {
    color: var(--primary) !important;
}

.holiday-slider-items-wrap .slick-prev,
.holiday-slider-items-wrap .slick-next {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--white);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.14);
    z-index: 1;
}

.holiday-slider-items-wrap .slick-arrow {
    top: -40px;
}

.holiday-slider-items-wrap .slick-prev {
    left: unset;
    right: 55px;
}

.holiday-slider-items-wrap .slick-next {
    right: 10px;
}

.holiday-slider-items-wrap .slick-prev::before,
.holiday-slider-items-wrap .slick-next::before {
    font-family: "FontAwesome";
    font-size: 14px;
    color: var(--black);
}

.holiday-slider-items-wrap .slick-prev::before {
    content: "\f053";
}

.holiday-slider-items-wrap .slick-next::before {
    content: "\f054";
}

.plan-a-trip-content-image-section .featured-image::before {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, var(--black), transparent);
    top: 0;
    left: 0;
}

.plan-a-trip-text-content {
    position: absolute;
    top: 36%;
    left: 5%;
    max-width: 327px;
    color: var(--white);
}

.plan-a-trip-content-image-section .featured-image {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.plan-a-trip-content-image-section .featured-image img {
    width: 100%;
}

.plan-a-trip-text-content h2 {
    font-size: 28px;
    font-weight: semi-bold;
}

.breadcrumbs-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.breadcrumbs-wrapper .contact-info {
    color: var(--white);
}
.breadcrumbs-wrapper .contact-info i {
    padding-right: 5px;
}

.single-destination {
    margin-top: -160px;
    z-index: 2;
}

.single-destination figure.featured-image::before {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #2f2626 0%, transparent);
    top: 0;
    left: 0;
}

.single-destination figure.featured-image {
    position: relative;
}

.single-destination figure.featured-image h2 {
    position: absolute;
    bottom: 10px;
    left: 5%;
    color: var(--white);
}
.single-destination-btn {
    margin-top: 32px;
}

.destination-btn {
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    width: 100%;
    padding: 15px;
    text-align: center;
}
.travel-destinations.curated-holiday .slider-content-wrap,
.holidays-packages.curated-holiday .slider-content-wrap {
    border-top: 1px solid #b2b2b2;
    background: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.holiday-packages-btn {
    text-align: center;
    margin-top: 20px;
}

/*  Curated Page  */
.site-content section.holiday-packages-filter {
    padding: 40px 0;
}

.filter-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}

.filter-item {
    width: 20%;
    width: calc(20% - 10px);
    padding: 15px 15px;
    background: var(--white);
    border-radius: 10px;
    text-align: center;
}
.filter-item h6 {
    margin: 0;
    padding: 6px 0;
    font-size: 14px;
    font-weight: 400;
}
.filter-item img {
    padding-top: 10px;
}

.filter-item:hover {
    color: var(--primary);
    cursor: pointer;
}

.search-slider-loading .slider-item {
    display: flex;
    align-items: center;
    gap: 50px;
}

.search-slider-loading .slider-item .search-featured-image {
    width: 500px;
}

.search-slider-loading .slider-item .slider-content {
    text-align: left;
    width: 80%;
    width: calc(80% - 500px);
    width: -webkit-calc(80% - 500px);
}
.search-slider-loading .slider-item .slider-content p {
    margin-bottom: 0;
}

.hoilday-package-detail-section .holiday-detail {
    margin-bottom: 20px;
}

.hoilday-package-detail-section .holiday-detail {
    background: var(--white);
    padding: 30px 20px;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 20px;
}

.hoilday-package-detail-section .holiday-detail h2 {
    font-size: 28px;
    font-weight: 500;
}

.title-icon {
    margin-right: 5px;
    vertical-align: middle;
}

.holiday-detail .accordion-item-wrap {
    margin-top: 30px;
}

.info.from,
.info.go-to{
    position: relative;
}

.search-input.active {
    transform: scale(1);
    box-shadow: 0px 4px 10px 5px #0000000D;
    top: 102%;
}
.search-from,
.search-go-to{    
    position: absolute;
    gap: 0 10px;
    width: 100%;
    z-index: 9;
    left: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: scale(1, 0);
    transform-origin: top;
    background: var(--white);
}



.from-recent-search{
    position: relative;
}

.from-recent-search input[type="submit"]{
    position: absolute;
    left: 0;
    top: 6px;
}
.from-recent-search input[type="submit"]{
    font-size: 0;
    background-color: transparent;
    background-image: url(../images/img/shape.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
}
.from-recent-search  input[type="search"]{
    border:none;
    padding-left: 34px;
}

.previous-recent-search h5.entry-title{
    font-size: 16px;
    color: #1E3138;
    line-height: 13.9px;
    padding: 12px;
    margin-bottom: 0;
}

.from-recent-search {
    box-shadow: 0px 4px 4px 0px #0000000D;
  }
  .from-recent-search input{
    margin: 0;
  }

.previous-destination-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 12px;
}
.previous-destination-item:hover{
    cursor: pointer;
    background: rgba(242, 242, 242, 1);
}
.tab-detail .info .previous-destination-item h3{
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
}

.tab-detail .info .previous-destination span{
    font-size:12px;
    color:rgba(111, 111, 111, 1);
    line-height: 14.22px;
}

