/*  12.0 ===== Medias/Responsive =====   */



/*

 * Does the same thing as <meta name="viewport" content="width=device-width">,

 * but in the future W3C standard way. -ms- prefix is required for IE10+ to

 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor

 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.

 */



@-ms-viewport {

    width: device-width;

}



@viewport {

    width: device-width;

}



@media only screen and (max-width: 1299px) {

    .flight-round-btn-wrap .box-button,

    .offer-hotels-btn-wrap .box-button,

    .offer-cars-btn-wrap .box-button {

        padding: 6px 12px 5px;

    }

    .flight-round-card-payment a,

    .offer-hotels-card-payment a {

        font-size: 12px;

    }

    .info h5 {

        font-size: 18px;

    }

    .flight-fare-payment-wrap {

        gap: 20px;

    }

}



/* All Tablet Portrait size smaller than standard 1199 (devices and browsers) */



@media only screen and (max-width: 1199px) {

    .site-branding {

        width: 180px;

    }

    .hgroup-wrap .hgroup-right {

        width: 81%;

        width: calc(100% - 180px);

        width: -webkit-calc(100% - 180px);

        padding-left: 30px;

        gap: 30px;

    }

    .hgroup-right .navbar {

        width: 61%;

        width: calc(100% - 290px);

        width: -webkit-calc(100% - 290px);

    }

    .right-header-content {

        width: 290px;

        gap: 20px;

    }

    .menu-top-menu-container > ul {

        gap: 6px;

    }

    .main-navigation ul li a {

        padding: 10px 8px;

    }

    .consultation-btn-wrap .box-button {

        font-size: 15px;

        padding: 16px 20px 15px;

    }

    .book-consultation-item {

        padding: 40px 15px;

    }

    .site-content section.book-consultation {

        padding-bottom: 80px;

    }

    .tab-detail .info h3 {

        font-size: 22px;

    }

    .header-tab-section .search {

        font-size: 22px;

    }

    .site-main > section {

        padding-right: 0;

        padding-left: 0;

    }

    .vertical-text {

        padding-right: 3px;

        box-shadow: 3px -2px 5px 3px rgba(0, 0, 0, 0.15);

    }

    .offer-flight-item .featured-image {

        width: 150px;

    }

    .offer-flight-item .offer-flight-content-wrap {

        width: 55%;

        width: calc(100% - 150px);

        width: -webkit-calc(100% - 150px);

        padding-left: 10px;

        position: relative;

    }

    .offer-flight-content-wrap h3 {

        font-size: 18px;

    }

    .round-title-detail {

        gap: 10px;

        margin-top: 12px;

    }

    .offer-airline-logo-wrap {

        top: -6px;

    }

    .offer-flight-content-wrap h3 {

        font-size: 17px;

    }

    .offer-flight-item,

    .offer-hotels-item,

    .offer-cars-item {

        padding: 12px;

    }

    .entry-header.heading .entry-title {

        font-size: 32px;

    }

    .offer-hotels-title-wrap h3,

    .offer-cars-title-wrap h3 {

        font-size: 18px;

    }

    .tab-detail .info h3 span {

        font-size: 19px;

    }

    .wakanow-app-content-wrap {

        padding: 30px;

    }

    .handpicked-collections .entry-title,

    .lesser-known-wonders .entry-title {

        font-size: 15px;

    }

    .slider-content-wrap h2.entry-title {

        font-size: 28px;

    }

    .wakapoint-text-content {

        padding-right: 30px;

    }

    .wakapoint-content-section,

    .wakapoint-great-deal-content-section {

        padding: 30px 25px;

    }

    .info h5 {

        font-size: 15px;

    }

    .flights-filter-result .heading-wrap .entry-title {

        font-size: 18px;

    }

    .flight-fare-detail-header-wrap {

        grid-template-columns: calc(40% - 10px) calc(60% - 10px);

    }

    .flight-timing h5 {

        font-size: 18px;

    }

    .flights-fare-tab-items-wrap .flight-fare-detail-wrap {

        padding: 20px 15px;

    }

    .user-travel-detail .info {

        padding: 10px 10px;

    }

    .airport-transfer-heading-wrap {

        padding: 30px 25px 0 25px;

    }

    .airport-transfer-heading-wrap h3 {

        font-size: 26px;

    }

    .fare-selection-slider .slick-next {

        right: -7px;

    }

    .fare-selection-slider .slick-prev {

        left: -7px;

    }

    .page-title-link-wrap .entry-title {

        font-size: 20px;

        margin-top: 4px;

    }

    .flight-process-page-title .flight-process-active-info {

        width: 480px;

    }

    .flight-process-page-title .page-title-link-wrap {

        width: 57%;

        width: calc(100% - 480px);

        width: -webkit-calc(100% - 480px);

        padding-right: 10px;

    }

    .flight-process-active-info ul {

        gap: 10px;

    }

    .flight-process-active-info ul li {

        font-size: 11px;

    }

    .flight-search-waka-points h4 span {

        font-size: 18px;

    }

    .flight-search-waka-points .waka-gift-icons {

        max-width: 33px;

    }

    .transport-info li h6 {

        font-size: 13px;

    }

    .trip-total .price {

        font-size: 18px;

    }

    .trip-total .total-heading {

        font-size: 16px;

    }

    .promo-code h6 {

        font-size: 14px;

    }

    .flight-search-time-content,

    .flight-search-change-planes-content {

        font-size: 14px;

    }



    .explore-slider-wrap .explore-canada {

        background-position: 310px 0;

    }

    .search-slider-loading {

        padding-left: 15px;

        padding-right: 15px;

    }

    .search-slider-loading .slider-item {

        gap: 30px;

    }

    .search-slider-loading .slider-item .slider-content {

        width: 48%;

        width: calc(100% - 500px);

        width: -webkit-calc(100% - 500px);

    }

    .flight-search-choose-payment-item-amount .price,

    .flight-search-insurance-amount .price,

    .flight-search-customization-general-amount-info .price {

        font-size: 20px;

    }

    .flight-search-choose-payment-item-amount {

        width: 120px;

    }

    .flight-search-choose-payment-item-content {

        width: 61%;

        width: calc(100% - 120px);

        width: -webkit-calc(100% - 120px);

    }

    .offer-hotels-title-wrap h3,

    .offer-cars-title-wrap h3 {

        font-size: 16px;

    }

}



/* All Tablet Portrait size smaller than standard 1023 (devices and browsers) */



@media only screen and (max-width: 1023px) {

    .hgroup-wrap .navbar {

        position: static;

    }

    .hgroup-wrap .hgroup-right {

        padding-right: 55px;

    }

    .mean-container .meanmenu-reveal {

        right: -10px !important;

    }

    .mean-container .meanmenu-reveal span,

    .mean-container .meanmenu-reveal span::before,

    .mean-container .meanmenu-reveal span::after {

        background: var(--bg);

    }

    .mean-container .mean-nav > ul {

        z-index: 9999;

        background: var(--secondary);

        left: 0;

        top: 60px;

    }

    .main-navigation ul li a .icon-wrap {

        margin: 0 10px 0 0;

    }

    .mean-container .mean-nav ul li a {

        padding: 12px 3%;

        display: flex;

    }

    .mean-container .mean-nav ul li a:hover {

        background: var(--white);

        color: var(--primary);

    }

    .mean-container .meanmenu-reveal span {

        width: 30px;

    }

    .offer-flight-item .featured-image {

        width: 100%;

    }

    .offer-flight-item .offer-flight-content-wrap {

        padding-left: 0;

        width: 100%;

        margin-top: 10px;

    }

    .offer-flight-item .featured-image img {

        width: 100%;

    }

    .offer-airline-logo-wrap {

        top: 0px;

    }

    .guest-travelling-info li h6,

    .guest-travelling-info li span {

        font-size: 14px;

    }

    .guest-travelling-info li {

        min-width: 140px;

    }

    .add-hotel .add-option-heading-wrap .add-option-title {

        padding-right: 435px;

    }

    .choose-seat-header-wrap .featured-image,

    .add-option-heading-wrap .featured-image {

        width: 60px;

    }

    .choose-seat-header-wrap .choose-seat-title,

    .add-option-heading-wrap .add-option-title {

        width: 91%;

        width: calc(100% - 60px);

        width: -webkit-calc(100% - 60px);

        padding-left: 15px;

    }

    .add-hotel .add-option-heading-wrap {

        margin-bottom: 15px;

    }



    section.booking-success {

        margin-top: 0;

    }



    .booking-success-msg h3 {

        font-size: 26px;

    }

}



@media only screen and (max-width: 991px) {

    .entry-title {

        font-size: 24px;

    }

    .page-title-link-wrap .entry-title {

        margin-top: 4px;

    }

    .book-consultation-item {

        padding: 40px 20px;

        width: 47%;

        width: calc(50% - 15px);

        width: -webkit-calc(50% - 15px);

    }

    .site-footer .widget-area div[class*="custom-"],

    .site-footer .widget-area div[class*="custom-"]:first-child,

    .site-footer .widget-area div[class*="custom-"]:last-child {

        width: 50%;

    }

    .site-footer .widget-area div[class*="custom-"]:nth-child(2n + 1) {

        clear: both;

    }

    .tab-detail .info {

        padding: 10px;

    }

    .tab-detail .info h3 {

        font-size: 20px;

    }

    .tab-detail .info.go-to {

        padding-left: 10px;

    }

    .tab-detail .info h3 span {

        font-size: 17px;

    }

    .tab-detail .info .info-heading {

        font-size: 13px;

    }

    .header-tab-section .search {

        font-size: 20px;

        padding: 8px 45px;

    }

    .waka-gift-content h4 {

        font-size: 13px;

    }

    .offer-section-content {

        padding: 15px;

    }

    .offer-section-content .entry-header.heading {

        top: 20px;

        left: 15px;

    }

    .entry-header.heading .entry-title {

        font-size: 28px;

    }

    .waka-info-detail-item {

        width: 100%;

        padding: 12px;

    }

    .waka-info-detail-item-wrap {

        gap: 8px;

    }

    .wakanow-app-content-wrap {

        padding: 25px 15px;

    }

    .wakanow-get-app-input {

        width: 33%;

    }

    .wakanow-app-scan-section {

        padding-left: 15px;

    }

    .wakanow-get-app-form-wrap h2 {

        font-size: 28px;

    }

    .handpicked-collections .slider-content-wrap,

    .lesser-known-wonders .slider-content-wrap {

        padding: 30px 15px;

    }

    .wakapoint-text-content {

        width: 100%;

        padding-right: 0;

    }

    .wakapoint-content-section,

    .wakapoint-great-deal-content-section {

        display: block;

    }

    .wakapoint-content-image-section,

    .wakapoint-great-deal-image-section {

        width: 420px;

    }

    .wakapoint-content-section,

    .wakapoint-great-deal-content-section {

        width: 43%;

        width: calc(100% - 420px);

        width: -webkit-calc(100% - 511px);

    }

    .wakapoint-text-content h2 {

        font-size: 18px;

    }

    h2 {

        font-size: 26px;

    }

    .wakapoint-home-packages-content-wrap h2 {

        font-size: 18px;

    }

    .wakapoint-home-packages-content-wrap h4 {

        font-size: 17px;

    }

    .stay-in-info-wrap {

        padding: 40px 0 20px;

        display: block;

    }

    .stay-in-info-item h4.entry-title {

        font-size: 17px;

        margin-bottom: 10px;

    }

    .site-main > section.stay-in-info {

        padding-top: 25px;

    }

    .wakapoint-btn-wrap .featured-image {

        margin-bottom: 18px;

        margin-top: 15px;

    }

    .round-title-detail {

        margin-top: 5px;

    }

    .flight-listing-title-section .user-travel-detail .info-wrap,

    .flight-loading-title-section .user-travel-detail .info-wrap {

        display: flex;

        flex-wrap: wrap;

    }

    .flight-listing-title-section .user-travel-detail .info.go-to,

    .flight-loading-title-section .user-travel-detail .info.go-to {

        margin-left: 0;

    }

    .flight-listing-title-section .user-travel-detail .info.from,

    .flight-loading-title-section .user-travel-detail .info.from {

        margin-right: 0;

    }

    .user-travel-detail .info {

        width: 49%;

        width: calc(50% - 3px);

        width: -webkit-calc(50% - 3px);

    }

    .flight-listing-title-section .user-travel-detail .info.go-to::before,

    .flight-loading-title-section .user-travel-detail .info.go-to::before {

        display: none;

    }

    .flights-filter-content,

    .hotel-search-filter-content {

        display: flex;

        flex-wrap: wrap;

        gap: 0;

    }

    .filter-selection {

        -webkit-box-ordinal-group: 3;

        -ms-flex-order: 2;

        order: 2;

        width: 100%;

    }

    .flights-filter-result {

        -webkit-box-ordinal-group: 2;

        -ms-flex-order: 1;

        order: 1;

        width: 100%;

    }

    .site-content section.page-title-section {

        padding: 40px 0 160px;

    }

    .filter-selection .airport-transfer-advertisement {

        text-align: center;

    }

    .fare-selection-payment h4 {

        font-size: 18px;

    }

    .fare-selection-payment span {

        font-size: 12px;

    }

    .fare-selection-payment.pay-small label h4 {

        font-size: 20px;

    }

    .fare-selection-payment {

        padding: 7px 15px;

    }

    .fare-selection-payment-wrap .box-button {

        padding: 13px 60px;

    }

    .flight-search-page-section .custom-col-9,

    .flight-search-page-section .custom-col-3 {

        width: 100%;

    }

    .flight-search-page-section .custom-col-9 {

        margin-bottom: 20px;

    }



    .explore-slider-wrap .slick-next {

        right: 15px;

    }



    .explore-slider-wrap .explore-item {

        padding: 20px 20px 15px 20px;

    }



    .explore-slider-wrap .explore-canada {

        background-position: 250px 0;

    }

    .flight-process-page-title .page-title-link-wrap {

        width: 100%;

    }

    .flight-process-page-title .flight-process-active-info {

        margin-top: 20px;

        margin-bottom: 10px;

    }

    .flight-search-change-planes-content h5 {

        font-size: 14px;

    }

    .flight-search-change-planes-content span {

        font-size: 14px;

    }

    .transport-info h6,

    .fare-summary h6,

    .cart-content li {

        font-size: 16px;

    }

    .cart-content > .entry-title {

        padding-bottom: 2px;

        font-size: 20px;

    }

    .site-content section.flight-search-page-section {

        padding-bottom: 30px;

    }



    .hotel-room-content .entry-title {

        font-size: 18px;

        padding: 10px 160px 10px 10px;

    }



    .hotel-room-pricing .room-price {

        font-size: 22px;

    }



    .hotel-room-add select {

        width: 120px;

    }

    .search-slider-loading .slider-item .search-featured-image {

        width: 380px;

    }

    .search-slider-loading .slider-item .slider-content {

        width: 48%;

        width: calc(100% - 380px);

        width: -webkit-calc(100% - 380px);

    }

    .flight-search-customization-general-info-wrap .entry-content h4,

    .flight-search-customization-general-info-wrap > .entry-title {

        font-size: 18px;

    }



    .booking-success-msg {

        margin: 25px auto;

    }



    .ticket-detail > div:not(.contact-us) {

        margin-bottom: 20px;

    }



    .user-personal-info {

        padding-bottom: 0;

    }



    .flight-search-payment-page-wrap,

    .payment-method-wrap {

        padding: 30px;

    }



    .payment-method-protection-price-wrap .price {

        font-size: 34px;

    }
    .hotel-overview-wrap .entry-header .entry-title {
        font-size: 24px;
      }
      .hotel-overview-entry-content .entry-content h3 {
        font-size: 22px;
      }
      .hotel-overview-popular-amenities h4 {
        font-size: 20px;
      }
      .hotel-overview-property-info > h4 {
        font-size: 18px;
      }
      .hotel-overview-property-item h5 {
        font-size: 16px;
      }
      .hotel-overview-property-item ul li {
        padding-left: 25px;
        background-size: 14px;
      }
      .hotel-apartment-notification-wrap ul li {
        font-size: 14px;
      }
      .hotel-amenities-wrap .entry-title {
        font-size: 20px;
      }
      .hotel-amenities-inner-content-wrap, .hotel-faq-section-wrap {
        padding: 20px 15px 20px;
      }
      .hotel-amenities-info-item h5 {
        font-size: 18px;
      }
      .hotel-amenities-policy-wrap > h4 {
        font-size: 18px;
      }
      .hotel-amenities-policy-info-heading h6 {
        font-size: 14px;
      }
      .hotel-amenities-policy-info-item .hotel-amenities-policy-info-heading {
        width: 230px;
      }
      .hotel-amenities-policy-info-item .hotel-amenities-policy-info-content {
        width: 67%;
        width: calc(100% - 230px);
        width: -webkit-calc(100% - 230px);
      }
      .hotel-guest-reviews-section .entry-title {
        font-size: 20px;
      }
      .hotel-guest-reviews-section {
        padding: 20px 15px 20px;
        margin-bottom: 20px;
      }
      .hotel-guest-reviews-top-info-wrap {
        margin: 0 -15px 10px;
        padding: 30px 15px 30px;
      }
      .hotel-guest-reviews-top-item-wrap {
        gap: 40px 30px;
      }
      .hotel-guest-reviews-top-item {
        width: 46%;
        width: calc(50% - 15px);
        width: -webkit-calc(50% - 15px);
      }
      .hotel-faq-question-wrap {
        width: 100%;
      }
      .hotel-faq-question-section {
        padding: 30px 15px;
      }
      .related-post h3 {
        font-size: 20px;
      }
      .related-post .filter-result-hotel-info .entry-title {
        font-size: 18px;
      }
      .booked-hotel-content .entry-title {
        font-size: 20px;
      }

}



/* All Mobile Portrait size smaller than 768 (devices and browsers) */



@media only screen and (max-width: 767px) {

    .custom-col-1,

    .custom-col-2,

    .custom-col-3,

    .custom-col-4,

    .custom-col-5,

    .custom-col-6,

    .custom-col-7,

    .custom-col-8,

    .custom-col-9,

    .custom-col-10,

    .custom-col-11,

    .custom-col-12 {

        float: none;

        width: 100%;

    }

    .book-consultation-item-wrapper {

        gap: 15px;

        padding-right: 0;

        width: 100%;

    }

    .circle-text-wrapper {

        margin-top: 30px;

        position: fixed;

        right: 7px;

        top: 35%;

        bottom: 11px;

        z-index: 9999;

        height: 110px;

        width: 110px;

    }



    .site-content section.book-consultation {

        padding-bottom: 40px;

    }

    .site-footer .widget-area div[class*="custom-"],

    .site-footer .widget-area div[class*="custom-"]:first-child,

    .site-footer .widget-area div[class*="custom-"]:last-child {

        width: 100%;

    }

    .hgroup-wrap .hgroup-right {

        padding-right: 50px;

        padding-left: 5px;

        gap: 0;

        width: 64%;

        width: calc(100% - 160px);

        width: -webkit-calc(100% - 160px);

    }

    .create-acc-btn a {

        font-size: 13px;

    }

    .hgroup-wrap .navbar {

        width: 0;

    }

    .site-branding {

        width: 160px;

    }

    .bg-siteheader .hgroup-wrap .hgroup-right {

        display: none;

    }

    .header-tab-section .tab-links li {

        margin-bottom: 10px;

    }

    .header-tab-section .tabs .tab-content {

        padding: 25px 20px 40px 20px;

        margin-top: 10px;

    }

    .header-tab-section .select-trip-class {

        width: 100%;

    }

    .header-tab-section .choose-method .select-wrap {

        display: block;

        width: 290px;

        margin: 0 auto;

    }

    .header-tab-section .select-way {

        margin-bottom: 10px;

        -webkit-box-pack: justify;

        -ms-flex-pack: justify;

        justify-content: space-between;

    }

    .header-tab-section .select-trip-class select {

        padding: 11px 24px;

        border-radius: 5px;

    }

    .tab-detail.flight-detail {

        display: flex;

        flex-wrap: wrap;

        gap: 10px;

        border: none;

        border-top: 1px dashed var(--gray);

        border-radius: 0;

        padding-top: 15px;

        margin-top: 15px;

    }

    .tab-detail.flight-detail > div {

        width: 100%;

        border: 1px solid var(--gray);

        border-radius: 8px;

        min-height: 80px;

    }

    .tab-detail.flight-detail > div.departure,

    .tab-detail.flight-detail > div.return {

        width: 49%;

        width: calc(50% - 5px);

        width: -webkit-calc(50% - 5px);

    }

    .tab-detail .info .info-heading {

        font-size: 10px;

        margin-bottom: 5px;

    }

    .tab-detail .info {

        padding: 5px 10px;

    }

    .tab-detail.flight-detail > div span {

        font-size: 12px;

    }

    .waka-gift-item {

        padding: 10px 15px;

        width: 100%;

    }

    .waka-gift-item-wrap {

        padding: 5px 0;

    }

    .waka-gift-item-wrap {

        margin-top: -90px;

    }

    .bg-siteheader {

        padding-bottom: 150px;

    }

    .offer-section-content {

        background: none;

        border-radius: 0;

        padding: 0;

    }

    .site-main > section,

    .site-content section.waka-gift-section {

        padding: 0 0 30px;

    }

    .offer-section-content .entry-header.heading {

        position: static;

        text-align: left;

        padding-bottom: 10px;

    }

    .offer-section-content .offer-tab-links {

        margin-left: 0;

        width: 100%;

        justify-content: flex-start;

    }

    .wakanow-app-content-wrap {

        display: block;

    }

    .wakanow-app-content {

        width: 100%;

        margin-bottom: 20px;

    }

    .wakanow-app-scan-section {

        padding-left: 0;

        width: 100%;

    }

    .fare-calendar-wrap .fare-calendar-info {

        display: none;

    }

    .fare-calendar-wrap {

        width: 160px;

    }

    .flights-filter-result .heading-wrap .entry-title {

        width: 70%;

        width: calc(100% - 160px);

        width: -webkit-calc(100% - 160px);

    }

    .flights-filter-result .heading-wrap {

        -webkit-box-align: center;

        -ms-flex-align: center;

        align-items: center;

    }



    .flights-filter-result .heading-wrap .entry-title {

        font-size: 18px;

    }

    .site-content section.flights-filter-section {

        padding-top: 30px;

    }

    .flight-search-trip-fare-summary,

    .flight-search-trip-traveller-details,

    .flight-search-choose-payment-wrap,

    .flight-search-choose-seat-wrap,

    .flight-search-insurance-info-wrap,

    .add-option-content-wrap,

    .flight-search-customization-general-info-wrap,

    .flights-sorted-info-wrap,

    .hotel-detail-search-trip {

        padding: 10px;

    }

    .flights-sorted-important-notice p {

        font-size: 12px;

    }

    .flights-filter-airways-slider-info-wrap {

        display: none;

    }

    .flight-fare-detail-refund a {

        display: none;

    }

    .flights-fare-tab-items-wrap .flight-fare-detail-wrap {

        position: relative;

    }

    .flight-fare-payment-wrap .box-button {

        position: absolute;

        bottom: 5px;

        right: 15px;

    }

    .flight-travel-detail {

        margin-bottom: 20px;

    }

    .flight-fare-payment-wrap .full-pay {

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;

        -ms-flex-wrap: wrap;

        flex-wrap: wrap;

        -webkit-box-align: center;

        -ms-flex-align: center;

        align-items: center;

    }

    .flight-fare-payment-wrap .full-pay h5 {

        font-size: 14px;

    }

    .flight-fare-payment-wrap .pay-option {

        font-size: 8px;

        margin-right: 4px;

    }

    .flight-fare-payment-wrap .small-pay .pay-option {

        display: none;

    }

    .flight-fare-payment-wrap .small-pay h6 {

        font-size: 12px;

    }

    .small-amount-pay-wrap .small-pay-icon {

        width: 20px;

    }

    .flight-fare-detail-header-wrap {

        gap: 10px;

        padding-bottom: 10px;

        margin-bottom: 15px;

    }

    .flight-departure.flight-travel,

    .flight-return.flight-travel {

        border: 1px solid #b5b5b5;

        border-radius: 3px;

        padding: 13px;

    }

    .flight-travel-detail {

        grid-template-columns: 100%;

    }

    .fare-selection-content {

        grid-template-columns: 100%;

    }

    .fare-selection-popup-content {

        padding: 15px 15px;

        height: 100%;

    }

    .fare-selection-popup-content .entry-title {

        padding: 20px 15px;

        margin: -20px -15px 15px -15px;

        font-size: 18px;

    }

    .fare-selection-content .fare-details h5 {

        margin-bottom: 20px;

        font-size: 16px;

    }

    .depart-return-wrap {

        display: -ms-grid;

        display: grid;

        -ms-grid-columns: calc(50% - 5px) 10px calc(50% - 5px);

        grid-template-columns: calc(50% - 5px) calc(50% - 5px);

        gap: 10px;

    }

    .depart-return-wrap .travel-date {

        border: 1px solid #b9b9b9;

        padding: 15px;

        border-radius: 20px;

    }

    .fare-selection-content .travel-date h6 {

        font-size: 12px;

        font-weight: 400;

    }

    .fare-selection-content .travel-date span {

        font-size: 11px;

    }

    .fare-selection-payment-wrap {

        margin: 15px -15px -20px -15px;

        padding: 15px 15px;

        background: var(--bg);

        border-radius: 15px 15px 0 0;

    }

    .fare-selection-payment h4 {

        font-size: 14px;

        color: #fff;

        margin-bottom: 0;

    }

    .fare-selection-payment span {

        font-size: 10px;

        color: #fff;

    }

    .fare-selection-payment.pay-small {

        border: 1px solid #475f68;

        background: none;

    }

    .fare-selection-payment.pay-small label h4 {

        font-size: 14px;

    }

    .fare-selection-payment {

        padding: 2px 10px;

        line-height: 1;

        border: 1px solid #475f68;

        gap: 7px;

    }

    .fare-selection-payment-wrap .box-button {

        padding: 13px 33px;

        font-size: 14px;

    }

    .fare-selection-payment.pay-small label img {

        max-width: 22px;

    }

    .fare-selection-popup-content .cross-icon {

        right: 13px;

        top: 17px;

    }



    .explore-slider-wrap {

        padding: 0 20px 0 0;

        margin: 0 -6px;

    }



    .explore-item .entry-title {

        font-size: 20px;

    }



    .explore-item .box-button {

        min-width: 180px;

    }



    .explore-slider-wrap .slick-prev {

        left: -5px;

    }



    .explore-slider-wrap .slick-next {

        right: 0;

    }



    .explore-slider-wrap .explore-item {

        padding: 20px 20px 15px 30px;

        margin: 0 6px;

    }



    .wakapoint-content-image-section,

    .wakapoint-great-deal-image-section,

    .wakapoint-content-section,

    .wakapoint-great-deal-content-section {

        width: 100%;

    }



    .wakapoint-content-section,

    .wakapoint-great-deal-content-section {

        padding: 20px 20px;

    }



    .wakapoint-content-image-section .featured-image img,

    .wakapoint-great-deal-image-section .featured-image img {

        width: 100%;

    }



    .wakapoint-text-content h2 {

        max-width: 330px;

    }



    .wakanow-get-app-form-wrap h2,

    .slider-content-wrap h2.entry-title {

        font-size: 24px;

    }



    .slider-content-wrap h2.entry-title {

        padding-right: 90px;

    }



    .slider-items-wrap .slick-arrow {

        top: -35px;

    }

    .page-title-link-wrap .entry-title {

        font-size: 18px;

    }

    .flight-process-page-title .flight-process-active-info {

        margin-bottom: 15px;

    }

    .waka-gift-content h4 {

        font-size: 12px;

    }

    .flight-search-waka-points h4 span {

        font-size: 16px;

    }

    .flight-search-waka-points {

        padding: 8px 8px;

    }

    .flight-search-title-wrap h3 {

        font-size: 18px;

    }

    .flight-search-time-detail,

    .flight-search-airways-change-planes-wrap {

        width: 100%;

        padding-right: 0;

        margin-bottom: 20px;

    }

    .flight-search-checkin-detail,

    .flight-search-cabin-detail,

    .flight-search-baggage-detail {

        text-align: left;

        width: auto;

        padding: 0;

        padding-right: 20px;

    }

    .flight-search-time-detail-item:last-child {

        position: relative;

    }

    .flight-search-time-detail > div:last-child::after {

        height: 10px;

        width: 10px;

        position: absolute;

        display: block;

        content: "";

        background: #f4f4f4;

        bottom: 0;

        left: 71px;

        border-radius: 20px;

        border: 1px solid #9e9e9e;

    }

    .flight-search-detail-wrap::after {

        display: none;

    }

    .flight-search-detail-wrap {

        padding: 15px;

    }

    .flight-search-day {

        font-size: 12px;

    }

    .flight-search-stop-info-wrap {

        font-size: 12px;

    }

    .flight-search-booking-important-information .entry-title,

    .flight-search-booking-traveller-detail .entry-title {

        font-size: 18px;

        margin-bottom: 18px;

    }

    .flight-search-booking-important-information-item .entry-title {

        font-size: 16px !important;

        margin-bottom: 3px !important;

    }

    .flight-search-booking-important-information-item ul li {

        margin-bottom: 15px;

    }

    .flight-search-booking-traveller-detail .traveller-adult-info-form h4 {

        font-size: 16px;

    }

    .form-has-three-child p {

        width: 48.5%;

        width: calc(50% - 7px);

        width: -webkit-calc(50% - 7px);

    }



    .flight-search-choose-payment-item-wrap {

        gap: 10px;

    }



    .flight-search-choose-payment-item {

        width: 100%;

    }



    .flight-search-choose-payment-item-content .box-button {

        margin-top: 0;

    }



    .add-hotel .add-option-heading-wrap .add-option-title {

        padding-right: 0;

    }



    .add-option-heading-wrap .guest-travelling-info {

        position: static;

        margin: 20px 0 30px 0;

        width: 100%;

    }



    .guest-travelling-info li h6 {

        font-size: 14px;

    }



    .add-option .heading-wrap .entry-title {

        font-size: 22px;

    }



    .add-option .heading-wrap .entry-title,

    .add-option-title h5,

    .choose-seat-title h5 {

        margin-bottom: 5px;

    }



    .choose-seat-header-wrap .featured-image,

    .add-option-heading-wrap .featured-image {

        width: 60px;

    }



    .choose-seat-header-wrap .choose-seat-title,

    .add-option-heading-wrap .add-option-title {

        width: 88%;

        width: calc(100% - 60px);

        width: -webkit-calc(100% - 60px);

    }

    .search-slider-loading .slider-item .search-featured-image {

        width: 280px;

    }

    .search-slider-loading .slider-item .slider-content {

        width: 48%;

        width: calc(100% - 280px);

        width: -webkit-calc(100% - 280px);

    }

    .search-slider-loading .slider-item {

        gap: 15px;

    }

    .site-content section.flight-loading-page-section {

        padding-top: 40px;

        padding-bottom: 40px;

    }

    .flight-search-trip-fare-summary h5,

    .flight-search-trip-traveller-details-title h5 {

        font-size: 16px;

    }

    .flight-search-trip-traveller-details-content > div {

        width: 100%;

    }

    .flight-search-trip-traveller-details-content {

        position: relative;

    }

    .flight-search-trip-traveller-details-edit {

        position: absolute;

        right: 0;

        top: 0;

        width: 30px !important;

        text-align: right;

    }

    .flight-search-choose-payment-wrap h5 {

        font-size: 18px;

        margin-bottom: 10px;

    }

    .flight-search-choose-payment-item-wrap {

        display: block;

    }

    .flight-search-choose-payment-item {

        width: 100%;

        margin-bottom: 10px;

    }

    .flight-search-choose-payment-item:last-child {

        margin-bottom: 0;

    }

    .add-hotel .entry-title,

    .add-option .heading-wrap .entry-title {

        font-size: 20px;

    }

    .guest-travelling-info li {

        min-width: auto;

        width: 32.33%;

        width: calc(33.33% - 4px);

        width: -webkit-calc(33.33% - 4px);

    }

    .add-hotel .add-option-heading-wrap .add-option-title {

        padding-right: 0;

    }

    .choose-seat-header-wrap .choose-seat-title,

    .add-option-heading-wrap .add-option-title {

        padding-left: 11px;

    }

    .add-option-title h5 {

        font-size: 16px;

        margin-bottom: 5px;

    }

    .add-option-content-scroll {

        overflow-y: scroll;

    }

    .add-option-content-scroll .add-option-content {

        width: 768px;

    }

    .add-option-content .offer-hotels-price span,

    .add-option-content .offer-cars-price span {

        font-size: 10px;

    }

    .offer-hotels-price h3,

    .offer-cars-price h3 {

        font-size: 16px;

    }

    .add-option-content .offer-hotels-btn-wrap .box-button,

    .add-option-content .offer-cars-btn-wrap .box-button {

        padding: 8px 15px;

        font-size: 13px;

    }

    .add-hotel,

    .add-option {

        margin-top: 20px;

    }

    .choose-seat-title h5,

    .flight-search-insurance-content h5 {

        font-size: 18px;

    }

    .flight-search-insurance-content,

    .flight-search-customization-general-content-info {

        width: 100%;

        padding-right: 0;

    }

    .flight-search-insurance-amount,

    .flight-search-customization-general-amount-info {

        position: absolute;

        right: 10px;

        top: 10px;

    }

    .flight-search-insurance-info-wrap {

        position: relative;

    }

    .flight-search-insurance-content .entry-content {

        margin-top: 70px;

    }

    .add-class {

        margin-top: 5px;

    }

    .flight-search-customization-general-content-info .featured-image {

        position: absolute;

        top: 0;

        left: 0;

    }

    .flight-search-customization-general-content-info .entry-content h4 {

        margin-bottom: 12px;

        padding-left: 85px;

        padding-right: 120px;

        min-height: 100px;

    }

    .flight-search-customization-general-content-info .entry-content {

        padding-left: 0;

        width: 100%;

    }

    .flight-search-customization-general-info-wrap > .entry-title {

        padding: 5px 10px 15px;

        margin: 0 -10px 10px;

    }

    .flight-search-customization-general-info-item {

        padding-bottom: 10px;

    }



    .booking-success-msg h3 {

        font-size: 22px;

    }



    .booking-success-msg {

        margin: 15px auto;

    }



    .booking-success-msg .ticked-icon {

        margin-bottom: 20px;

    }



    .booking-success-content > div {

        padding: 10px;

    }

    .booked-hotel-detail-content .room-detail{
        padding-right: 10px;
    }



    .booking-status {

        padding: 20px 10px 0 10px;

        margin: 0 -10px;

    }



    .booking-status li span,

    .user-personal-info li span,

    .ticket-flight-detail li span,

    .ticket-car-detail li.pick-up span {

        font-size: 16px;

    }



    .ticket-detail .print-ticket {

        margin-top: -10px;

        margin-right: -10px;

        margin-left: -10px;

        padding: 10px;

    }



    .user-personal-info li {

        width: 46%;

        margin: 0 10px 20px 10px;

        width: calc(50% - 20px);

    }



    .ticket-detail .entry-title {

        font-size: 22px;

        margin-bottom: 20px;

    }



    .ticket-detail .fare-summary {

        max-width: 100%;

    }



    .ticket-flight-detail-content {

        padding: 15px;

        gap: 20px 30px;

    }



    .ticket-flight-detail-content .flight-info {

        width: 30%;

    }



    .ticket-user-info {

        width: 70%;

    }



    .ticket-detail .contact-us {

        margin: 20px -10px 0 -10px;

        padding: 20px;

    }



    .fare-summary h5 {

        margin-bottom: 10px;

        font-size: 18px;

    }



    .ticket-detail .fare-summary ul {

        padding-bottom: 5px;

    }



    .ticket-flight-detail-content h6 {

        font-size: 14px;

    }



    .ticket-detail .box-button {

        padding: 12px 24px;

    }



    .flight-search-payment-page-wrap,

    .payment-method-wrap {

        padding: 20px;

    }



    .payment-method-item-wrap {

        padding: 20px 0;

    }



    .payment-method-item {

        width: 30.5%;

        width: calc(33.33% - 12px);

        width: -webkit-calc(33.33% - 12px);

    }



    .payment-method-protection-price-wrap .price {

        font-size: 30px;

    }



    .payment-method-card-header {

        margin-bottom: 20px;

    }



    .payment-method-item a {

        padding: 10px;

    }



    .payment-method-protection-price-wrap .price {

        font-size: 26px;

    }



    .payment-method-protection-price-wrap .box-button {

        padding: 10px 20px;

    }



    .payment-method-protection-price-wrap {

        padding: 10px 0 0;

    }

    .site-content .search-hotel-single-page-section {
        padding: 15px 0;
    }
    .hotel-overview-mobile-rating {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 10px 0;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
      }
      .hotel-overview-mobile-rating-btn .box-button {
        font-size: 12px;
        padding: 10px 13px 9px;
        background-color: var(--primary);
      }
      .hotel-overview-mobile-rating-btn .box-button:hover {
        background-color: var(--secondary);
      }
      .hotel-overview-mobile-rating-btn {
        width: 190px;
        text-align: right;
      }
      .hotel-overview-mobile-rating-wrap {
        width: 64%;
        width: calc(100% - 190px);
        width: -webkit-calc(100% - 190px);
        padding-right: 10px;
        display: flex;
  align-items: center;
      }
      .hotel-overview-mobile-rating-wrap .rating-wrapper {
        margin: 0;
        width: 100%;
        padding-left: 50px;
        padding-right: 0;
      }
      .hotel-overview-mobile-rating .rating-wrapper .rating-number {
        left: 0;
        right: auto;
        top: -5px;
      }
      .hotel-overview-mobile-rating .rating-wrapper .entry-title {
        display: inline-block;
      }
      .hotel-overview-mobile-rating .rating-wrapper .rating-text {
        color: #676767;
      }
      .hotel-featured-image-gallery-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
      }
      .hotel-featured-image-gallery-wrap > figure:first-child {
        width: 100%;
      }
      .hotel-featured-image-gallery-wrap > figure {
        width: 16.2%;
        width: calc(16.67% - 2px);
        width: -webkit-calc(16.67% - 2px);
      }
      .hotel-featured-image-gallery-wrap > figure:not(:first-child ) img {
        height: 66px;
      }
      .hotel-featured-image-wrap .more-photos-link {
        background: rgba(0, 0, 0, 0.75);
        font-size: 12px;
        bottom: 0;
        width: 16.67%;
        right: 0px;
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .featured-image-review-wrap {
        display: none;
      }
      .hotel-detail-tags-wrap ul li img {
        max-width: 16px;
      }
      .apartment-room-image-section .featured-image-wrap figure:nth-child(4),
.apartment-room-image-section .featured-image-wrap figure:nth-child(5),
.apartment-room-image-section .featured-image-wrap figure:nth-child(6){
    display: block;
}
.apartment-room-image-section .featured-image-wrap figure {
    min-width: 15.5%;
    min-width: calc(16.67% - 5px);
    min-width: -webkit-calc(16.67% - 5px);
  }
  .apartment-popular-amenities ul li {
    width: 23.5%;
    width: calc(25% - 8px);
    width: -webkit-calc(25% - 8px);
  }
  .hotel-apartment-choice-info ul li {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .hotel-apartment-body-item.hotel-apartment-room-select-info {
    position: absolute;
    right: 0;
    bottom: -15px;
  }
  .hotel-apartment-show-deals-wrap h5 {
    font-size: 16px;
  }
  .hotel-apartment-show-deals-wrap ul li {
    font-size: 11px;
  }
  .hotel-apartment-show-deals-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            margin-bottom: 0;
  }
  .single-page-hotel-content-wrap .for-mobile {
    display: block;
  }
  .single-page-hotel-content-wrap .for-desktop {
    display: none;
  }
  .hotel-apartment-body-item.hotel-apartment-choice-info {
    position: relative;
    padding-bottom: 40px;
  }
  .booked-hotel-review-section {
    margin-top: -140px;
  }
  .flight-search-booking-traveller-detail.hotel-traveller-booking-detail {
    margin-top: 15px;
  }
      

}



@media only screen and (max-width: 567px) {

    .site-content section.page-title-section {

        padding: 40px 0 160px;

    }

    .entry-title {

        font-size: 22px;

    }

    .book-consultation-item {

        width: 100%;

    }

    .create-acc-btn a {

        font-size: 13px;

        font-size: 0;

        width: 25px;

        height: 25px;

        display: block;

        background: url("../images/login.png");

        background-repeat: no-repeat;

        background-size: 20px;

    }

    .right-header-content {

        align-items: center;

    }

    .header-select-option h5 {

        font-size: 12px;

        margin-bottom: 1px;

    }

    .right-header-content > div {

        min-width: 50px;

    }

    .right-header-content {

        gap: 10px;

    }

    .create-acc-btn a {

        margin-left: auto;

    }



    .feedback-sticky,

    .right-header-content {

        display: none;

    }

    .flights-filter-result .heading-wrap .entry-title {

        font-size: 14px;

    }

    .flights-sorted-info-wrap h6 {

        padding-bottom: 10px;

        margin-bottom: 13px;

        font-size: 12px;

    }

    .flights-sorted-important-notice p {

        font-size: 10px;

    }

    .flights-sorted-important-notice {

        padding: 10px;

        margin-bottom: 5px;

    }

    .airline-heading h6 {

        font-size: 12px;

    }

    .airline-icon {

        width: 18px;

        height: 18px;

    }

    .airline-heading h6 {

        width: 92%;

        width: calc(100% - 18px);

        width: -webkit-calc(100% - 18px);

        padding-left: 5px;

    }

    .flights-fare-tab > ul li h6 {

        font-size: 12px;

        margin-bottom: 2px;

    }

    .flights-fare-tab > ul li {

        font-size: 10px;

    }

    .flights-fare-tab > ul li {

        padding: 10px;

    }

    .flight-travel-heading h6 {

        font-size: 14px;

    }

    .flight-travel-heading li {

        padding: 0 3px;

        font-size: 10px;

    }

    .flight-timing-wrap {

        padding: 13px 13px;

        gap: 10px;

    }

    .flight-timing h5 {

        font-size: 20px;

    }

    .flight-on-air span {

        padding: 5px 0;

        font-size: 13px;

    }

    .flight-fare-detail-refund .refundable {

        font-size: 12px;

    }

    .flight-fare-payment-wrap .box-button {

        font-size: 14px;

        padding: 9px 16px;

        bottom: 7px;

    }

    .view-more-same-flights span {

        font-size: 10px;

        letter-spacing: 1.9px;

    }

    .flight-search-trip-fare-summary,

    .flight-search-trip-traveller-details,

    .flight-search-choose-payment-wrap,

    .flight-search-choose-seat-wrap,

    .flight-search-insurance-info-wrap,

    .add-option-content-wrap,

    .flight-search-customization-general-info-wrap,

    .flights-sorted-info-wrap,

    .hotel-detail-search-trip {

        margin-bottom: 12px;

    }

    .flights-fare-tab > ul,

    .flights-fare-tab-item-content {

        margin: 0 0 12px 0;

    }

    .price-watch-notification p {

        font-size: 10px;

    }

    .price-watch-notification h5 {

        font-size: 12px;

    }

    .notification-bell-icon {

        width: 20px;

    }

    .price-watch-notification {

        padding: 12px 15px;

        gap: 10px;

        margin-bottom: 8px;

        border-radius: 8px;

    }

    .price-watch-heading-wrap {

        gap: 10px;

    }

    .site-content section.page-title-section.flight-loading-title-section {

        padding: 40px 0;

    }



    .explore-item .box-button {

        min-width: 150px;

        font-size: 14px;

    }

    .flight-search-booking-item-info {

        border: none;

        box-shadow: none;

        padding: 0;

        border-radius: 0;

    }

    .flight-search-multiple-airways-info .flight-search-multiple-title {

        background-size: 19px;

        background-position: left 4px;

        padding: 6px 6px 6px 26px;

    }

    .flight-search-multiple-airways-info > span,

    .flight-search-multiple-airways-info .flight-search-multiple-title,

    .flight-search-economy-airways-info ul li {

        font-size: 12px;

    }

    .flight-search-time {

        font-size: 12px;

    }

    .flight-search-time {

        width: 55px;

    }

    .flight-search-time-content,

    .flight-search-change-planes-content {

        width: 85%;

        width: calc(100% - 55px);

        width: -webkit-calc(100% - 55px);

    }

    .flight-search-time-detail::before,

    .flight-search-airways-change-planes-wrap::before {

        left: 60px;

    }

    .flight-search-time-detail > div:last-child::after,

    .flight-search-time-detail::after,

    .flight-search-detail-wrap::after {

        left: 56px;

    }

    .flight-search-airways-change-planes-wrap::before {

        left: 75px;

    }

    .flight-search-airways-change-planes-wrap {

        margin-bottom: 10px;

    }

    .traveller-adult-general-info-form {

        border: none;

        padding: 10px 0;

    }

    .traveller-adult-info-form-title .entry-title {

        border-top: 1px solid #d3d3d3;

        padding-top: 10px;

    }

    .traveller-adult-info-title h5 {

        font-size: 14px;

    }

    .flight-search-booking-important-information-item .entry-title {

        font-size: 14px !important;

    }

    .traveller-adult-passport-info-form {

        border: none;

        border-top: 1px solid #d3d3d3;

        margin: 0 -15px;

    }

    .traveller-adult-passenger-info-form {

        margin: 0 -15px;

        padding: 20px 15px 5px;

        margin-top: 0;

    }



    .guest-travelling-info li h6 {

        font-size: 12px;

    }



    .guest-travelling-info li span {

        font-size: 14px;

    }



    .guest-travelling-info li {

        padding: 5px 8px;

        min-width: 130px;

    }



    .hotel-room-content .entry-title {

        font-size: 16px;

    }



    .hotel-room-detail h5 {

        font-size: 18px;

    }



    .hotel-room-pricing .room-price {

        font-size: 20px;

    }



    .add-ride-detail-wrap {

        grid-template-columns: 100%;

        padding-right: 15px;

        gap: 15px;

    }



    .add-ride-detail-wrap .box-button {

        position: static;

        justify-self: end;

    }



    .add-ride-title {

        padding-right: 30px;

    }



    .search-slider-loading .slider-item .search-featured-image {

        width: 220px;

    }

    .search-slider-loading .slider-item .slider-content {

        width: 51%;

        width: calc(100% - 220px);

        width: -webkit-calc(100% - 220px);

    }

    .search-slider-loading .slider-content h5 {

        font-size: 16px;

    }



    .booking-success-msg .ticked-icon {

        width: 60px;

        height: 60px;

        font-size: 35px;

        line-height: 60px;

    }



    .booking-success-msg h3 {

        font-size: 20px;

        margin-bottom: 10px;

    }



    .ticket-flight-detail-content {

        flex-wrap: wrap;

    }



    .ticket-flight-detail-content .flight-info,

    .ticket-user-info {

        width: 100%;

    }



    .back-to-top {

        bottom: 30px;

    }



    .price-and-filter-content {

        position: fixed;

        bottom: 10px;

        z-index: 2;

        max-width: 100%;

        left: 0;

        margin: 0 15px;

    }



    .filtering-flights {

        display: block;

    }



    .user-travel-detail {

        display: none;

    }

    .user-filled-detail-mobile {

        display: flex;

    }

    .user-filled-detail-mobile .heading-wrap{
        display: block;
    }

    .site-content section.page-title-section.hotel-search-listing-title-section {
        padding: 20px 0;
    }

    .site-content section.flights-filter-section {
        padding-top: 20px;
        z-index: 999;
    }

    .site-content section.page-title-section {

        padding: 20px 0 160px;

    }

    .search-hotel-single-page-section .detail-page-breadcrumbs-wrap{
        margin-bottom: 10px;
    }

    .hotel-overview-wrap .entry-header .entry-title{
        font-size: 22px;
    }

    .hotel-overview-wrap .entry-meta-wrap{
        padding-left: 20px;
        position: relative;
    }
    
    .hotel-overview-wrap .entry-meta-wrap ul li{
        margin-bottom: 0;
    }

    .hotel-overview-wrap .entry-meta-wrap::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 11px;
        height: 14px;
        background-image: url(/assets/images/location-icon-2.png);
        background-repeat: no-repeat;
    }

    .hotel-overview-wrap .entry-meta-wrap ul li a{
        font-size: 14px;
    }
    .booked-hotel-content .entry-title {
        font-size: 18px;
      }
      .hotel-checkin-detail-wrap > h6 {
        font-size: 14px;
      }
      .hotel-checkin-detail .time-detail h6 {
        font-size: 14px;
      }
      .time-detail {
        font-size: 12px;
      }
      .hotel-checkin-detail, .traveller-number-info ul {
        gap: 10px;
      }
      .booked-hotel-content .heading-wrap {
        margin-bottom: 10px;
      }

}



/* All Mobile size smaller than standard 479 (devices and browsers) */



@media only screen and (max-width: 479px) {

    .site-branding {

        width: 120px;

    }

    .hgroup-wrap .hgroup-right {

        padding-right: 40px;

        padding-left: 5px;

        width: 65%;

        width: calc(100% - 120px);

        width: -webkit-calc(100% - 120px);

    }

    .page-title-link-wrap {

        display: block;

    }

    .page-title-link-wrap .entry-title {

        margin-top: 20px;

        margin-bottom: 15px;

    }

    .book-consultation-item .author-name {

        font-size: 20px;

    }

    .site-footer .widget-title {

        font-size: 18px;

    }

    .inline-social-icon li a {

        height: 38px;

        width: 38px;

        line-height: 36px;

    }

    .site-footer .inline-social-icon li {

        margin: 0 10px 7px 0 !important;

    }

    .widget > ul > li > a {

        font-size: 14px;

    }

    .site-footer .widget ul li {

        margin-bottom: 12px;

    }

    .site-generator .copy-right {

        padding: 20px 0;

    }

    .site-footer .widget {

        margin-bottom: 30px;

    }

    .widget-area {

        padding: 20px 0 0;

    }

    .mean-container .mean-nav > ul {

        top: 55px;

    }

    .back-to-top {

        right: 15px;

    }

    .user-travel-detail .info {

        width: 100%;

    }

    .flight-listing-title-section .user-travel-detail .info-wrap,

    .flight-loading-title-section .user-travel-detail .info-wrap {

        width: 100%;

    }

    .user-travel-detail .search-btn {

        width: 100%;

    }

    .user-travel-detail {

        -ms-flex-wrap: wrap;

        flex-wrap: wrap;

    }

    .site-content section.page-title-section {

        padding: 30px 0 160px;

    }

    .flights-filter-result .heading-wrap {

        display: block;

    }

    .flights-filter-result .heading-wrap .entry-title {

        width: 100%;

        padding: 0;

        margin-bottom: 15px;

    }

    .fare-calendar-wrap {

        width: 100%;

        text-align: left;

    }

    .fare-calendar-wrap .fare-calendar {

        padding: 9px 10px 8px 30px;

        font-size: 12px;

        background-size: 14px;

    }

    .flights-fare-tab-items-wrap .flight-fare-detail-wrap {

        padding: 20px 10px;

    }

    .flight-fare-payment-wrap .full-pay h5 {

        font-size: 12px;

    }

    .flight-fare-payment-wrap .small-pay h6 {

        font-size: 11px;

    }

    .flight-fare-payment-wrap {

        gap: 8px;

    }

    .flight-timing h5 {

        font-size: 16px;

    }

    .flight-start.flight-timing span {

        font-size: 12px;

    }

    .filter > h6 {

        font-size: 14px;

    }

    .airport-transfer-heading-wrap h3 {

        font-size: 22px;

    }

    h6 {

        font-size: 14px;

    }

    .site-content section.page-title-section.flight-loading-title-section {

        padding: 30px 0;

    }

    .depart-return-wrap {

        -ms-grid-columns: 100%;

        grid-template-columns: 100%;

        gap: 10px;

    }

    .depart-return-wrap .travel-date {

        margin-bottom: 0;

    }

    .fare-selection-payment-wrap {

        flex-wrap: wrap;

    }

    .fare-selection-payment-wrap .box-button {

        width: 100%;

    }

    .fare-selection-payment-content {

        justify-content: space-between;

        width: 100%;

    }

    .fare-selection-popup-content .entry-title {

        font-size: 15px;

    }



    .explore-slider-wrap {

        padding: 0;

        margin: 0;

    }



    .wakanow-get-app-form-wrap h2,

    .slider-content-wrap h2.entry-title,

    h2 {

        font-size: 22px;

    }



    .wakanow-get-app-input {

        width: 60%;

    }



    .wakanow-get-app-form p.wakanow-get-app-submit {

        padding-left: 0;

        margin-top: 10px;

    }

    .flight-process-page-title .flight-process-active-info {

        display: none;

    }

    .flight-process-page-title .page-title-link-wrap {

        padding-right: 0;

        display: flex;

    }

    .page-title-link-wrap .entry-title {

        margin-top: 15px;

        margin-bottom: 15px;

    }

    .flight-search-booking-item-wrap .flight-search-waka-points {

        display: none;

    }

    .flight-search-page-section {

        margin-top: 0;

        padding-top: 15px !important;

    }

    .site-content section.page-title-section.flight-process-page-title {

        padding-bottom: 15px;

    }

    .flight-process-page-title .page-title-link-wrap .page-title-link,
    .padding-responsive .page-title-link-wrap .page-title-link {

        font-size: 0;

        padding: 0;

        height: 20px;

        width: 20px;

        background: none !important;

        background-image: url(../images/back-arrow.png) !important;

        background-repeat: no-repeat !important;

        margin-top: 5px;

        margin-right: 5px;

    }

    .flight-process-page-title .page-title-link-wrap .entry-title {

        margin-bottom: 10px;

        margin-top: 0;

    }

    .flight-search-title-wrap h3 {

        font-size: 16px;

    }

    .flight-search-to {

        background-size: 12px;

        background-position: left 7px;

        padding-left: 20px;

    }

    .flight-search-title-wrap {

        gap: 8px;

    }

    .flight-search-day,

    .flight-search-stop-info-wrap {

        font-size: 11px;

    }

    .flight-search-date-wrap {

        gap: 10px;

        margin-bottom: 10px;

    }

    .flight-search-multiple-airways-info > span,

    .flight-search-multiple-airways-info .flight-search-multiple-title,

    .flight-search-economy-airways-info ul li {

        font-size: 10px;

    }

    .flight-search-multiple-airways-info {

        gap: 2px;

    }

    .flight-search-multiple-airways-info .flight-search-multiple-title {

        padding: 6px 3px 6px 23px;

    }

    .flight-search-economy-airways-info ul {

        gap: 4px 13px;

    }

    .form-has-three-child p {

        width: 100%;

    }

    .flight-search-economy-airways-info ul li::before {

        height: 6px;

        width: 6px;

        border-right: 1px solid #000;

        border-bottom: 1px solid #000;

    }

    .flight-search-detail-wrap h5 {

        font-size: 12px;

    }

    .flight-search-change-planes-content span {

        font-size: 12px;

    }

    .flight-search-time-content,

    .flight-search-change-planes-content,

    .flight-search-change-planes-content h5 {

        font-size: 12px;

    }

    .flight-search-booking-important-information .entry-title,

    .flight-search-booking-traveller-detail .entry-title {

        font-size: 16px;

        margin-bottom: 18px;

    }

    .flight-search-booking-important-information-item ul li {

        font-size: 10px;

    }

    .flight-search-booking-important-information-item .entry-title {

        background-size: 13px;

        padding: 2px 0 3px 23px;

    }

    .flight-search-booking-important-information-item ul {

        margin-left: 32px;

    }

    .cart-content > .entry-title {

        font-size: 18px;

    }

    .flight-search-booking-traveller-adult-important-info {

        font-size: 12px;

    }

    .flight-search-time-duration {

        font-size: 12px;

    }

    .search-slider-loading .slider-item .search-featured-image {

        width: 100%;

        margin-bottom: 15px;

    }

    .search-slider-loading .slider-item .slider-content {

        width: 100%;

    }

    .search-slider-loading .slider-item {

        display: block;

    }

    .search-slider-loading .slider-content h5 {

        margin-bottom: 8px;

    }



    .hotel-room-content .entry-title {

        padding: 10px 50px 10px 10px;

    }



    .ticket-detail .entry-title {

        font-size: 18px;

        margin-bottom: 10px;

    }



    .ticket-flight-detail-wrap .ticket-flight-detail,

    .ticket-flight-detail-content {

        padding: 10px;

    }



    .ticket-user-info {

        flex-wrap: wrap;

    }



    .ticket-info {

        width: calc(33.33% - 20px);

    }



    .ticket-info:last-child {

        width: 100%;

    }



    .booking-status li span,

    .user-personal-info li span,

    .ticket-flight-detail li span,

    .ticket-car-detail li.pick-up span {

        font-size: 14px;

    }



    .ticket-detail .box-button {

        padding: 10px 20px;

        font-weight: 300;

        font-size: 14px;

    }



    .ticket-flight-detail .flight-name h6 {

        font-size: 12px;

    }



    .fare-summary,

    .transport-info.hotel-cart-info {

        padding: 10px 0;

    }



    .fare-summary h5 {

        font-size: 16px;

    }



    .flight-search-payment-page-wrap,

    .payment-method-wrap,

    .payment-method-card-wrap,

    .payment-method-protection-wrap {

        padding: 15px;

    }



    .payment-method-card-header {

        padding: 10px 30px 10px 45px;

    }



    .payment-method-card-header .payment-method-card-icon {

        width: 35px;

        height: 35px;

        top: 5px;

    }



    .payment-method-item {

        width: 47.5%;

        width: calc(33.33% - 12px);

        width: -webkit-calc(50% - 12px);

    }



    .flight-search-continue-btn {

        text-align: center;

    }



    .flight-search-continue-btn .box-button {

        padding: 10px 20px;

    }



    .payment-method-wrap {

        margin-bottom: 20px;

    }



    .payment-method-protection-price-wrap .price {

        font-size: 22px;

        margin-bottom: 10px;

    }



    .payment-method-item a figure {

        width: 40px;

        height: 40px;

    }



    .payment-method-item a span {

        font-size: 14px;

    }



    .filtering-flights li {

        font-size: 9px;

    }

    .user-filled-detail-mobile{
        padding: 10px 12px 10px 40px;
    }

    .user-filled-detail-mobile ul li{
        font-weight: 300;
    }
    .user-filled-detail-mobile .box-button {
        padding: 6px 10px 5px 23px;
    }
    .booked-hotel-review-section {
        margin-top: 30px;
      }
      .site-content section.page-title-section.padding-responsive {
        padding-bottom: 30px;
      }
      .padding-responsive .page-title-link-wrap {
        display: flex;
      }
      .padding-responsive .page-title-link-wrap .entry-title {
        margin: 0;
      }
      .booked-hotel-review {
        padding: 0;
        border-radius: 5px;
      }
      .booked-hotel-content {
        padding: 10px 10px;
      }
      .booked-hotel-content .entry-title {
        font-size: 16px;
      }
      .hotel-checkin-detail-wrap > h6 {
        font-size: 12px;
      }
      .hotel-room-tag {
        padding: 5px 7px 3px;
        font-size: 10px;
      }
      .hotel-checkin-detail .time-detail h6 {
        font-size: 12px;
      }
      .hotel-checkin-detail .time-detail span strong {
        font-size: 14px;
      }
      .time-detail {
        font-size: 11px;
      }
      .stayin-duration-info span {
        padding: 7px 7px 5px;
        font-size: 10px;
      }
      .traveller-number-info ul li {
        font-size: 13px;
      }
      .hotel-checkin-detail-content > div.traveller-number-info {
        padding: 8px;
      }
      .room-detail .heading-wrap .entry-title {
        font-size: 14px;
      }
      .room-detail li {
        font-size: 13px;
        color: #333;
      }
      .flight-search-choose-payment-wrap h5 {
        font-size: 16px;
      }
      .flight-search-booking-traveller-detail .traveller-adult-info-form h4 {
        font-size: 14px;
      }
      .hotel-checkin-detail-content > div.hotel-checkin-detail {
        padding: 8px;
      }

}



@media only screen and (max-width: 375px) {

    .flight-fare-detail-header-wrap {

        grid-template-columns: 100%;

    }

    .right-header-content > div {

        min-width: 35px;

    }

    .site-branding {

        width: 90px;

    }

    .hgroup-wrap .hgroup-right {

        padding-right: 33px;

        width: 65%;

        width: calc(100% - 90px);

        width: -webkit-calc(100% - 90px);

    }

    .mean-container .meanmenu-reveal span {

        width: 27px;

    }

    .mean-container .meanmenu-reveal {

        right: -12px !important;

    }

    .header-select-option select {

        font-size: 12px;

    }

    .mean-container .mean-nav > ul {

        top: 53px;

    }

    .site-generator .copy-right {

        font-size: 13px;

    }

    .flight-search-airways-wrap > div {

        width: 100%;

    }

    .flight-search-economy-airways-info ul {

        -webkit-box-pack: start;

        -ms-flex-pack: start;

        justify-content: flex-start;

    }

    .flight-search-airways-wrap {

        gap: 5px;

    }

    .flight-search-economy-airways-info ul li::before {

        top: 4px;

        left: -10px;

        height: 5px;

        width: 5px;

    }

    .flight-search-multiple-airways-info .flight-search-multiple-title {

        padding: 8px 3px 6px 23px;

    }

    .flight-search-time {

        font-size: 10px;

    }

    .flight-search-time {

        width: 45px;

    }

    .flight-search-time-content,

    .flight-search-change-planes-content {

        width: 80%;

        width: calc(100% - 45px);

        width: -webkit-calc(100% - 45px);

        padding-left: 20px;

    }

    .flight-search-time-detail::before,

    .flight-search-airways-change-planes-wrap::before {

        left: 45px;

    }

    .flight-search-time-detail > div:last-child::after,

    .flight-search-time-detail::after,

    .flight-search-detail-wrap::after {

        left: 41px;

    }

    .flight-search-airways-change-planes-wrap::before {

        left: 60px;

    }

    .flight-search-detail-wrap h5 {

        font-size: 10px;

    }

    .traveller-adult-info-title-icon {

        width: 18px;

    }

    .traveller-adult-info-title h5,

    .traveller-adult-info-title-wrap > div:last-child {

        font-size: 12px;

    }

    .traveller-adult-info-title {

        gap: 5px;

    }

    .form-term-condition-wrap p input[type="checkbox"] {

        top: 0px;

        height: 16px;

        width: 16px;

    }

    .form-term-condition-wrap p {

        padding-left: 23px;

        font-size: 12px;

    }

    .transport-info h6,

    .fare-summary h6,

    .cart-content li {

        font-size: 13px;

    }

    .trip-total .price {

        font-size: 16px;

    }

    .flight-search-booking-traveller-adult-important-info {

        font-size: 10px;

    }



    .flight-search-choose-payment-item-amount .price,

    .flight-search-insurance-amount .price,

    .flight-search-customization-general-amount-info .price {

        font-size: 16px;

    }



    .flight-search-choose-payment-item {

        padding: 10px;

    }



    .flight-search-choose-payment-item-amount {

        width: 90px;

    }



    .flight-search-choose-payment-item-content {

        width: calc(100% - 90px);

        width: -webkit-calc(100% - 90px);

        padding-left: 25px;

    }



    .flight-search-choose-payment-item-content::before {

        height: 18px;

        width: 18px;

    }



    .active-payment .flight-search-choose-payment-item-content::after {

        height: 12px;

        width: 12px;

        left: 3px;

        top: 1px;

    }



    .flight-search-choose-payment-item-content .box-button {

        padding: 10px 15px;

    }



    .add-option-heading-wrap .guest-travelling-info {

        margin: 10px 0 10px 0;

    }



    .flight-search-choose-seat-item-header,

    .flight-search-choose-seat-number-info {

        width: 100%;

    }



    .flight-search-insurance-content .entry-content {

        margin-top: 100px;

    }



    .flight-search-insurance-amount {

        top: 50px;

    }



    .flight-search-customization-general-content-info .featured-image {

        width: 40px;

    }



    .flight-search-customization-general-info-item {

        padding-top: 0;

    }



    .flight-search-customization-general-content-info .entry-content h4 {

        font-size: 16px;

        padding-left: 50px;

        padding-right: 110px;

    }



    .add-class {

        font-size: 12px;

        padding: 6px 20px;

    }



    .add-option-slider .slick-arrow {

        width: 30px;

        height: 30px;

    }



    .choose-seat-header-wrap .featured-image,

    .add-option-heading-wrap .featured-image {

        width: 40px;

    }



    .choose-seat-header-wrap .choose-seat-title,

    .add-option-heading-wrap .add-option-title {

        width: 85%;

        width: calc(100% - 40px);

        width: -webkit-calc(100% - 40px);

    }



    .filtering-flights li {

        width: calc(20% - 4px);

    }



    .notification-switch-wrap .switch {

        width: 30px;

        height: 15px;

    }



    .notification-switch-wrap .switch-slider:before {

        width: 15px;

        height: 15px;

    }



    .user-filled-detail-mobile {

        padding: 10px 12px 10px 40px;

    }

    .filter-result-hotel-item{
        gap: 15px;
    }

    .filter-result-hotel-item .featured-image, .filter-result-hotel-info-wrap{
        width: 100% !important;
    }

    .filter-result-hotel-info-wrap .filter-result-hotel-info{
        padding-left: 0;
    }
    .related-post .filter-result-hotel-item .featured-image {
        width: 135px !important; 
        height: unset;
        padding: 0;
      }
      .related-post  .filter-result-hotel-info-wrap {
        width: 73%  !important; ;
        width: calc(100% - 145px)  !important; ;
        width: -webkit-calc(100% - 145px) ;
        padding: 0;
        display: flex;
        flex-direction: column;
        position: relative;
      }
      .related-post  .filter-result-hotel-item {
        gap: 10px;
      }
      .related-post .filter-result-hotel-price-btn-wrap {
        padding-left: 0px;
      }
      .filter-result-hotel-price-btn-wrap .box-button {
        padding: 8px 6px;
        font-size: 10px;
        width: 105px;
      }
      .filter-result-hotel-price-btn-wrap .price-btn-wrap a {
        font-size: 12px;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
      }
      .flight-search-choose-payment-wrap {
        padding-top: 15px;
      }
      

}



/* for hotel responsive mobile version  */



@media only screen and (max-width: 479px) {

/*    .tab-detail.hotel-detail {

        display: flex;

        flex-direction: column;

        gap: 8px;

        border: none;

    }*/

    .info.property-name {

        border: 1px solid var(--gray);

        border-radius: 10px;

    }

    .res-flex {

        display: grid;

        grid-template-columns: 1fr 1fr;

        gap: 7px;

        border-right: none;

    }

    .info.check-in.dropdown {

        border-right: none;

        border: 1px solid var(--gray);

        border-radius: 10px;

    }

    .info.check-out.dropdown {

        border-right: none;

        border: 1px solid var(--gray);

        border-radius: 10px;

    }

    .info.guest-number.dropdown {

        border: 1px solid var(--gray);

        border-radius: 10px;

    }

}



/* mobile version for visa page 479px */

/* @media only screen and (max-width: 479px) {

    .tab-detail.tab-visa-detail {

        display: flex;

        flex-direction: column;

        gap: 8px;

        border: none;

    } */

    /* .info.destination {

        border-right: none;

        border: 1px solid var(--gray);

        border-radius: 10px;

    }

    .visa-res-flex {

        display: grid;

        grid-template-columns: 50% 50%;

        gap: 7px;

        border-right: none;

    }

    .info.departure.dropdown {

        border-right: none;

        border: 1px solid var(--gray);

        border-radius: 10px;

    } */
/* 
    .info.return.dropdown {

        border-right: none;

        border: 1px solid var(--gray);

        border-radius: 10px;

    }

    .info.travellers.dropdown {

        border-right: none;

        border: 1px solid var(--gray);

        border-radius: 10px;

    }

} */

