@media only screen and (max-width: 991px) {

  .fare-selection-payment-wrap .box-button{
    text-align: center;
  }

  .user-eligibility-detail .user-travel-detail .info-wrap{
    display: flex;
    flex-wrap: wrap;
    border: none;
    border-radius: 0;

  }
  .user-eligibility-detail .user-travel-detail .info-wrap > div {
    width: 100%;
  }
  .user-eligibility-detail .user-travel-detail .info-wrap > div.departure {
    width: 49%;
    width: calc(50% - 2px);
    width: -webkit-calc(50% - 2px);
  }

  .user-eligibility-detail .user-travel-detail .info-wrap > div.return {
    width: 49%;
    width: calc(50% - 3px);
    width: -webkit-calc(50% - 3px);
  }

  .check-eligibility-section .row{
    display: flex;
    flex-direction: column;
   }
   .check-eligibility-section .row .custom-col-3 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: static;
    margin-bottom: 15px;
  }
  .check-eligibility-section .row .custom-col-9 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .hotel-apartment-price-summary {

    position: sticky;

    width: 100%;

    left: 0;

    bottom: 0;

    margin-left: 0;

  }

  .hotel-apartment-price-summary h6 {

    display: none;

  }

  .hotel-room-reserve-info span del {

    display: none;

  }

  .hotel-room-reserve-info .includes-tax {

    display: none;

  }

  .room-reserve-feature {

    display: none;

  }

  .hotel-room-reserve-info {
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: relative;
    align-items: center;
  }

  .hotel-room-reserve-info span,

  .hotel-room-reserve-info button {

    width: fit-content;

  }
  .booked-hotel-features{
    width: 100%;
  }

  .booked-hotel-features ul {

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 8px;

    align-items: flex-start;

    justify-content: flex-start;

    margin-top: 10px;

  }

  .booked-hotel-features li {

    width: 100%;

    display: flex;

    align-items: flex-start;

    justify-content: center;

  }

  .user-travel-detail {

    display: flex;

    flex-wrap: wrap;

  }

  .user-travel-detail .info-wrap {

    width: 100%;

    display: flex;

    flex-wrap: wrap;

  }

  .user-travel-detail .info-wrap > div {

    width: 100%;

    padding: 8px 10px;

  }

  .user-travel-detail .info-wrap .info.destination {

    width: 100%;

  }



  .search-btn.box-button {

    width: 100%;

  }

  .check-eligibility-section .row .custom-col-3 {

    -webkit-box-ordinal-group: 2;

    -ms-flex-order: 1;

    order: 1;

    position: static;

    margin-bottom: 15px;

  }

  .check-eligibility-section .row .custom-col-9 {

    -webkit-box-ordinal-group: 3;

    -ms-flex-order: 2;

    order: 2;

  }

  .filter-selection{

    display: none;

  }

  .hotel-detail-tags-wrap ul {

    margin: 0;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 8px;

  }

  .hotel-detail-tags-wrap ul li {

    width: 100%;

  }

  .hotel-overview-content-wrap {

    display: flex;

  }

  .hotel-apartment-item-wrapper {

    width: 100%;

  }
  .hotel-overview-property-info {
    padding: 25px 20px 30px;
    width: 300px;
  }
  .hotel-overview-entry-content {
    padding: 25px 20px 30px;
    width: 66%;
    width: calc(100% - 300px);
    width: -webkit-calc(100% - 300px);
  }

  .hotel-amenities-title-wrap ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 8px;
    padding: 20px 0px;
  }

  .hotel-amenities-title-wrap ul li {

    min-width: 32%;

  }

  .hotel-amenities-info-item-wrap {

    display: flex;

    flex-wrap: wrap;

    gap: 8px;

  }

  .hotel-amenities-info-item {

    width: 33%;

  }

  .hotel-faq-header .entry-title {

    margin-bottom: 3px;

    width: 100%;

    /* width: calc(100% - 180px);

      width: -webkit-calc(100% - 180px); */

    padding-right: 15px;

  }

  .hotel-faq-header .box-button {

    padding: 8px 12px 7px;

    width: 180px;

    text-align: center;

  }

  .hotel-faq-content-wrap {

    width: 100%;

  }

 

  .hotel-faq-content-wrap ul li {

    width: 100%;

  }

  .eligibility-process-info {

    display: none;

  }

  .custom-col-9 {

    /* float: none; */

    width: 100%;

  }

  .custom-col-3 {

    float: none;

    width: 100%;

    margin-top: 20px;

  }

  .filter-selection {

    display: none;

  }

  .cabs-filter-wrap {

    display: grid;

    grid-template-columns: 1fr;

  }

  .filter-result {

    width: 100%;

  }

  /* hotel book review start */



  .hotel-checkin-detail-content {

    display: flex;

    flex-wrap: wrap;

    gap: 8px;

  }

  .hotel-checkin-detail-wrap {

    /* box-shadow: none; */

  }

  .hotel-checkin-detail {

    width: 100%;

  }

  .traveller-number-info {

    width: 100%;

  }

  .booked-hotel-detail-content .hotel-checkin-detail-wrap {

    box-shadow: none;

    border: none;

    padding: 0;

  }

  .booked-hotel-detail-content .booked-hotel-overview .heading-wrap {

    /* border-bottom: none; */

    width: 100%;

    padding-bottom: 10px;

    margin-bottom: 0;
    align-items: center;

  }

  .booked-hotel-preview-wrap {

    display: flex;

    flex-wrap: wrap;

    gap: 8px;

    margin-bottom: 0;

  }

  .booked-hotel-preview-wrap .featured-image {

    min-width: 100%;

    height: 200px;

  }

  .booked-hotel-preview-wrap .featured-image img {

    width: 100%;

    height: 100%;

  }
.booked-hotel-preview-wrap .booked-hotel-overview{
  width: 100%;
}


  .room-detail {

    width: 100%;

  }

  /* hotel book review end */



  /* hotel book review info start */

  .flight-search-choose-payment-item-wrap {

    display: flex;



    flex-wrap: wrap;

    gap: 8px;

  }

  .flight-search-choose-payment-item {

    width: 100%;

  }

  .hotel-faq-question-section{

    width: 100%;

  }

}



@media only screen and (max-width: 767px) {

  .hotel-faq-content-section {

    width: 100%;

    margin: 0;

  }

 

  .user-travel-detail.hotel-listing-title-info {

    display: flex;

    flex-wrap: wrap;

  }

  .user-travel-detail.hotel-listing-title-info .info-wrap {

    display: flex;

    flex-wrap: wrap;

    width: 100%;

  }

  .user-travel-detail.hotel-listing-title-info .info.city-name {

    width: 100%;

    padding: 8px 10px;

  }

  .search-btn.box-button {

    width: 100%;

    padding: 8px;

  }

  .breadcrumbs {

    display: none;

  }

  .page-title {

    display: none;

  }

  .hotel-search-listing-sortby-wrap {

    display: none;

  }

  .hotel-room-reserve-info .discounted-price {

    font-size: 18px;

  }

  .hotel-room-reserve-info .box-button {

    padding: 10px 0;

  }

  .hotel-apartment-room-select-option {

    height: fit-content;

    min-height: fit-content;

    /* margin-bottom: 10px; */

    /* position: absolute; */

    bottom: 0;

    left: 0;

  }

  .hotel-apartment-choice-info-list,

  .hotel-apartment-price-info-wrap,

  .hotel-apartment-guest-number-wrap {

    height: fit-content;

    min-height: fit-content;

    margin-bottom: 0;

    /* margin-bottom: 10px; */

  }

  .hotel-apartment-body-item.hotel-apartment-room-type {

    position: relative;

  }

  .hotel-apartment-body-item {

    padding-top: 0;

  }
  .booked-hotel-overview .booked-hotel-features ul{
    width: 100%;
  }


  .booked-hotel-features ul li {

    width: 100%;

    display: flex;

    justify-content: flex-start;

    align-items: flex-start;

  }

  .check-eligibility-section {

    margin-top: 0;

  }

  .btn-wrap.back-and-continue-btns-wrap.d-none {

  }

  .go-back {

    display: none;

  }

  .continue-btns {

    display: flex;

    flex-wrap: wrap-reverse;

    gap: 8px;

    width: 100%;

  }

  .continue-btns .box-button {

    margin-left: 5px;

    margin-left: 5px;

    width: 100%;

  }

  .user-travel-detail.hotel-listing-title-info {

    display: flex;

    flex-wrap: wrap;

  }

  .user-travel-detail.hotel-listing-title-info .info-wraps {

    width: 100%;

    display: flex;

    flex-wrap: wrap;

    gap: 5px;

  }



  .hotel-checkin-detail-content {

    display: flex;

    flex-direction: column;

  }



  .filter-result-hotel-item-wrap {

    width: 100%;

  }

  .filter-result-hotel-item {

    display: flex;

    flex-direction: row;

    justify-content: unset;

    padding: 10px;

  }

  .filter-result-hotel-item .featured-image {
    width: 135px;
    height: unset;
    padding: 0;
  }

  .filter-result-hotel-item .featured-image a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .filter-result-hotel-info-wrap {
    width: 73%;
    width: calc(100% - 135px);
    width: -webkit-calc(100% - 135px);
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .filter-result-hotel-info-wrap > div {

    width: 100%;

  }

  .filter-result-hotel-info-wrap .filter-result-hotel-info {

    width: 100%;

  }

  .filter-result-hotel-link-info ul :nth-child(2) {

    display: none;

  }

  .filter-result-hotel-inner-info {

    padding-left: 0;

    border-left: none;

    margin-top: 50px;

  }

  .filter-result-hotel-price-btn-wrap {

    display: flex;

    align-items: center;

    gap: 8px;

    justify-content: right;

  }

  .filter-result-hotel-price-wrap {

    border-left: none;

    display: flex;

    flex-direction: column;

    margin-top: -15px;

    padding: 0;

  }

  .filter-result-hotel-price-btn-wrap .box-button {

    padding: 8px 10px;

  }

  .heading-wrap {

    display: flex;

    justify-content: space-between;

    flex-wrap: wrap;

    gap: 8px;

  }

  /* .tab-visa-detail-wrap .popup-content{

    padding: 20px;

    z-index: 99999999;

    bottom: 0;

  } */

  .application-check-popup-content button{

    min-width: unset;

    padding: 8px 10px;

    width: 100%;

    bottom: 0;

  }



.booking-review-content{

  display: flex;

  flex-direction: column;

}

.included-and-excluded{

  display: flex;

  flex-wrap: wrap;

}

.included-and-excluded > div {

  width: 100%;



}

.included-and-excluded > div:first-child{

  border-right: none;

}

.included-things{

  border-bottom: 1px solid var(--gray);

}

.disclaimer-content-wrap{

  display: flex;



  flex-direction: column;

  gap: 0;

}

/* .traveller-info-content{

  display: flex;

  flex-wrap: wrap;

  gap: 10px;

} */

/* .traveller-info-content > div.input-wrap {

  width: 100%;

  margin: 0;

} */

/* .traveller-info-content div.input-wrap:nth-child(2), .traveller-info-content div.input-wrap:nth-child(3){

  width: 49%;

  width: calc(50% - 5px);

  width: -webkit-calc(50% - 5px);

} */

/* .traveller-info-content div.input-wrap:nth-child(5), .traveller-info-content div.input-wrap:nth-child(6){

  width: 49%;

  width: calc(50% - 5px);

  width: -webkit-calc(50% - 5px);

} */

/* .traveller-info-content div.input-wrap:nth-child(4){

  order: 6;

  margin-bottom: 20px;

} */

.choose-gender {

display: flex;

gap: 10px;

}

.choose-gender .gender{

  width: 100px;

}

.price-watch-notification{

  position: sticky;

  bottom: 60px;

  left: 0;

}



  .tab-detail.hotel-detail {

    display: flex;

    flex-wrap: wrap;

    gap: 8px;

    border: none;

    border-top: 1px dashed var(--gray);

    border-radius: 0;

    padding-top: 15px;

    margin-top: 15px;

  }

  .tab-detail.hotel-detail > div {

    width: 100%;

    border: 1px solid var(--gray);

    border-radius: 10px;

  }

  .tab-detail.hotel-detail > div.info.check-in.dropdown {

    width: 49%;

    width: calc(50% - 4px);

    width: -webkit-calc(50% - 4px);

  }

  .tab-detail.hotel-detail > div.info.check-out.dropdown {

    width: 49%;

    width: calc(50% - 4px);

    width: -webkit-calc(50% - 4px);

  }

  .tab-detail.hotel-detail .info {

    padding: 5px 10px;

  }

  .tab-detail.hotel-detail > div > h3 > span {

    font-size: 12px;

  }

  .tab-detail.tab-visa-detail {

    display: flex;

    flex-wrap: wrap;

    gap: 8px;

    border: none;

    border-radius: 0;

  }

 .tab-detail.tab-visa-detail > div {

    width: 100%;

    border-right: none;

    border: 1px solid var(--gray);

    border-radius: 8px;

  }

  

    .tab-detail.tab-visa-detail > div.departure{

    width: 49%;

    width: calc(50% - 4px);

    width: -webkit-calc(50% - 4px);

  }

 

  .tab-detail.tab-visa-detail > div.return {

    width: 49%;

    width: calc(50% - 4px);

    width: -webkit-calc(50% - 4px);

  }

  .tab-detail.tab-visa-detail .info.departure.dropdown > h3 > span{

    font-size: 12px;

  }

  .tab-detail.tab-visa-detail .info.return.dropdown > h3 > span{

    font-size: 12px;

  }

  .visa-status {

    padding: 20px;

  }
/* 
  .box-buttons {

    width: 100%;

    padding: 15px;

  } */

  .hotel-overview-entry-content .entry-content h3 {

    font-size: 25px;

  }

  .filter-result-hotel-inner-info .information {

    margin-bottom: 10px;

  }



  .hotel-detail-tags-wrap ul {

    margin: 0;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 2px;

  }

  .hotel-detail-tags-wrap ul li {

    width: 100%;

    padding: 10px 5px;
    font-size: 12px;

  }

  .hotel-apartment-header-item-wrap {

    display: none;

  }

  .hotel-apartment-body-item.hotel-apartment-room-type {

    border: none;

    width: calc(90% - 8px);

  }

  .hotel-apartment-body-item-wrap {

    border: 1px solid var(--gray);

    border-radius: 10px;

    display: flex;

    flex-wrap: wrap;

    gap: 8px;

    padding: 20px 10px;

    margin-top: 10px;

    position: relative;

  }

  .hotel-apartment-body-item-content {

    border: none;

    /* position: relative; */

  }

  .apartment-room-information-list ul {

    border: none;
    margin: 0;

  }

  .hotel-apartment-body-item.hotel-apartment-guest-number {
    border: none;
    width: 10%;
    position: absolute;
    right: 10px;
    top: 20px;
    padding: 0;
  }
  .hotel-apartment-body-item.hotel-apartment-room-type {
    width: 100%;
    padding: 0 0 10px;
  }

  .hotel-apartment-body-item.hotel-apartment-guest-number :nth-child(2) {

    display: none;

  }

  .hotel-apartment-body-item.hotel-apartment-price-info {

    width: 50%;

    border: none;

  }

  .hotel-apartment-body-item.hotel-apartment-choice-info {

    border: none;

    width: calc(50% - 8px);

  }



  .hotel-apartment-body-item.hotel-apartment-room-select-info {

    border: none;

    width: calc(50% - 8px);

  }

  .hotel-apartment-body-item.hotel-apartment-room-select-info :nth-child(2) {

    display: none;

  }

  .hotel-apartment-body-item-content .two {

    display: none;

  }

  .hotel-apartment-body-item-content .two {

    display: none;

  }

  .hotel-apartment-room-select-option {

    min-height: unset;

    height: fit-content;

    margin-bottom: 0;

  }

  .hotel-amenities-title-wrap ul {

    display: flex;

    flex-wrap: wrap;

    gap: 8px;

  }

  .hotel-amenities-title-wrap ul li {

    min-width: 49%;



  }

  .hotel-amenities-title-wrap ul li::before {

    position: absolute;

    display: block;

    content: "";

    height: 25px;

    width: 25px;

    border: 1px solid var(--primary);

    left: 15px;

    border-radius: 50px;

    top: -9px;

    /* background-image: url(/assets/images/blue-tick-icon.png); */

    background-image: url(./../images/blue-tick-icon.png);

    background-repeat: no-repeat;

    background-position: center;

    background-size: 11px;

  }

  .hotel-amenities-info-item {
    min-width: 49%;
    min-width: calc(50% - 4px);
    min-width: -webkit-calc(50% - 4px);
  }
  .hotel-amenities-title-wrap ul, .hotel-amenities-info-item-wrap {
    margin: 0 -10px;
  }
  .hotel-amenities-info-item {
    padding: 0 10px;}
  .hotel-amenities-policy-info-item {

    display: flex;



    grid-template-columns: auto auto;



    flex-wrap: nowrap;



    gap: 8px;



  }

  .hotel-amenities-inner-content-wrap {

    padding: 10px;



  }



  .hotel-amenities-policy-info-item .hotel-amenities-policy-info-heading {
    width: 140px;
  }
  .hotel-amenities-policy-info-heading h6 {
    font-size: 12px;
  }
  .hotel-amenities-policy-info-item .hotel-amenities-policy-info-content {

    width: 73%;
    width: calc(100% - 140px);
    width: -webkit-calc(100% - 140px);
    font-size: 11px;
  }

  .hotel-guest-reviews-rating {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }

  .hotel-guest-reviews-top-item-wrap {

    width: 100%;



    gap: 20px;



  }

  .hotel-guest-reviews-top-item {

    width: 100%;



  }



  .hotel-faq-header .entry-title {



    margin-bottom: 3px;



    width: 100%;



    /* width: calc(100% - 180px);



    width: -webkit-calc(100% - 180px); */



    padding-right: 15px;



  }



  .hotel-faq-header .box-button {



    padding: 8px 12px 7px;



    width: 180px;



    text-align: center;



  }

  .hotel-faq-content-wrap {

    width: 100%;



  }



  .hotel-faq-content-wrap ul li {

    width: 100%;



  }

  .payment-method-item-wrap {

    display: grid;



    grid-template-columns: repeat(3, 1fr);



    gap: 8px;



  }

  .payment-method-item {

    width: 100%;

  }

  .payment-method-wrap {

    padding: 20px;



  }

  .payment-method-card-wrap {

    padding: 10px;

  }

  .flight-search-payment-page-wrap {

    padding: 15px 13px;



  }


  .hotel-secured-popup-msg-wrap h3 {
    font-size: 16px;
  }
  .hotel-secured-popup-msg-wrap .heading-wrap {
    padding-bottom: 5px;
    display: block;
  }
  .hotel-secured-popup-msg-wrap {
    padding: 30px 20px;
    text-align: center;
    background: #E8F4FF;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
  }
  .hotel-secured-popup-msg-wrap p {
    font-size: 13px;
  }
  .hotel-secured-popup-msg-wrap .continue-btn {
    font-size: 16px;
  }
  .hotel-secured-popup-content {
    width: 535px;
    max-width: 100%;
    padding: 0 15px;
    background: none;
  }
  .hotel-secured-popup-content .featured-image {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }
  


  .offer-cars-detail-wrap.cab-price-wrap {

    width: 100%;



  }


  .filter-result-hotel-price-wrap .rating-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 15px;
    top: 50px;
    gap: 5px;
    width: 100%;
    justify-content: flex-start;
    padding-left: 50px;
    padding-right: 0;
  }
  .filter-result-hotel-price-wrap .rating-wrapper :last-child {
    left: 0;
    right: auto;
    top: -5px;
  }

  .rating-wrapper :last-child {

    order: -1;

  }



  .room-detail ul {



    margin: 10px;



  }



  /* hotel booking review start */

  .booked-hotel-detail-content {

    position: relative;



  }

  .go-next-btns-wrap {

    position: relative;



    width: 100%;



    left: 0;



    bottom: 0;



    text-align: center;



  }

  /* hotel booking review end */



  .flight-search-booking-traveller-detail {

    margin-top: 130px;

  }



  .hotel-secured-msg-content {

    display: flex;



    flex-direction: column-reverse;



    justify-content: flex-start;

  }

  .hotel-secured-msg-content .flight-secured-quick-info {

    width: 100%;



    display: flex;



    flex-direction: column;



    align-items: flex-end;



    justify-content: flex-end;

  }

  .hotel-secured-msg h4 {

    max-width: unset;



    width: 100%;

  }

  .hotel-secured-msg-content .hotel-secured-msg {

    max-width: unset;



    width: 100%;

  }

  .required-document-upload-item {

    display: flex;



    flex-wrap: wrap;



    gap: 8px;

  }

  .required-document-upload-item .required-document-upload-content {

    width: 100%;

  }

  .required-document-upload-item .required-document-upload-file-content {

    width: 100%;



    display: flex;



    width: fit-content;



    /* gap: 10px; */



    align-items: center;

  }

  .visa-status.visa-application-status ul {

    display: flex;



    flex-direction: column;



    gap: 20px;



    text-align: center;



    justify-content: center;



    align-items: center;

  }



  .visa-status.visa-application-status ul li span {

    text-align: center;

  }

  .visa-status.visa-payment-status ul {

    width: 100%;



    display: flex;



    justify-content: space-between;

    padding: 0 10px;

  }

  .visa-status.visa-payment-status ul li {

    display: flex;



    flex-direction: column;



    gap: 8px;



    justify-content: center;



    align-items: center;

  }

  .visa-application-saved-msg-wrap {

    padding: 15px 20px;

  }

  .flexbox-wrap {

    display: flex;

    flex-wrap: wrap;

  }

  .continue-btns .box-button{

    margin: 0;

  }

  .tab-detail.ride-detail {

    border: none;

    border-radius: 0;

    display: flex;

    flex-wrap: wrap;

    gap: 10px;

  }

  .tab-detail.ride-detail > div{

    width: 100%;

    border-right: none;

    border: 1px solid var(--gray);

    border-radius: 8px;

  }

  .tab-detail.ride-detail > div.departure, .tab-detail.ride-detail > div.pick-up-time{

    width: 49%;

    width: calc(50% - 5px);

    width: -webkit-calc(50% - 5px);

  }

  .hotel-faq-content-section{

    border-top: none;

    padding: 0;

  }
  .hotel-overview-entry-content {
    padding: 20px 15px 20px;
    width: 100%;
  }
  .hotel-overview-property-info {
    padding: 20px 15px 20px;
    width: 100%;
  }
  .hotel-overview-entry-content .entry-content h3 {
    font-size: 20px;
  }
  .apartment-room-image-section .featured-image-wrap figure img {
    width: 100%;
  }
  .hotel-apartment-body-item.hotel-apartment-room-select-info,
  .hotel-apartment-body-item.hotel-apartment-choice-info {
    width: 160px;
  }
  .hotel-apartment-body-item.hotel-apartment-price-info {
    width: 67%;
    width: calc(100% - 170px);
    width: -webkit-calc(100% - 170px);
    padding-top: 20px;
  }
  .hotel-apartment-body-item.hotel-apartment-choice-info {
    margin-top: 15px;
  }
  .hotel-apartment-price-summary {
    padding: 15px;
  }
  .hotel-room-reserve-info .box-button {
    margin-bottom: 0;
  }
  .hotel-apartment-notification-wrap ul li {
    font-size: 12px;
  }
  .hotel-apartment-notification-wrap {
    padding: 15px;
  }
  .hotel-apartment-notification-wrap ul li img {
    position: absolute;
    left: 0;
    top: 1px;
  max-width: 12px;
  }
  .hotel-apartment-notification-wrap ul li {
    position: relative;
    padding-left: 19px;
    margin-bottom: 5px;
  }
  .hotel-amenities-title-wrap ul li::before {
    top: -5px;
  }
  .hotel-amenities-title-wrap ul li {
    padding: 0 15px 0 45px;
    font-size: 12px;
  }
  .hotel-amenities-title-wrap ul li {
    min-width: 32%;
    min-width: calc(33.33% - 6px);
    min-width: -webkit-calc(33.33% - 6px);
  }
  .hotel-amenities-breakfast-info li .hotel-amenities-breakfast-title,
  .hotel-amenities-breakfast-title-info h6, .hotel-amenities-breakfast-age-price-info h6, .hotel-amenities-breakfast-age-price-info span {
    font-size: 11px;
  }
  .hotel-amenities-policy-info-content ul {
    margin: 0 0 5px;
  }
  .hotel-amenities-breakfast-info li:last-child {
    margin-bottom: 5px !important;
  }
  .user-reviews-header-wrap {
    display: block;
    margin-bottom: 10px;
  }
  .user-reviews-header-title {
    width: 100%;
    padding-right: 0;
    margin-bottom: 5px;
  }
  .user-reviews-header-title h5 {
    font-size: 13px;
  }
  .reviews-user-info {
    font-size: 11px;
  }
  .user-reviews-header-wrap .star-ratings {
    margin-top: 0;
  }
  .user-reviews-item .entry-content p {
    font-size: 12px;
  }
  .write-reviews-link .box-button {
    padding: 11px 15px 10px;
    font-size: 12px;
  }
  .hotel-single-page-notification-info {
    padding: 15px;
  }
  .rating-notification-header h5 {
    font-size: 15px;
  }
  .hotel-single-page-rating-notification .star-ratings {
    font-size: 20px;
    width: 85px;
  }
  .rating-notification-header {
    margin-bottom: 3px;
  }
  .hotel-single-page-rating-notification .entry-content {
    font-size: 12px;
  }
  .hotel-faq-header .entry-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .hotel-faq-header .box-button {
    padding: 8px 7px 7px;
    width: 120px;
    font-size: 12px;
    background-color: var(--primary);
  }
  .hotel-faq-header .box-button:hover {
    background-color: var(--secondary);
  }
  .hotel-faq-content-wrap ul li:nth-child(2) {
    border-top: 1px;
  }
  .hotel-faq-content-wrap ul li:nth-child(2) {
    border-top: 0.5px solid #c8c8c8;
    padding-top: 12px;
  }
  .hotel-faq-content-wrap {
    padding: 15px;
  }
  .hotel-faq-content-section {
    gap: 15px;
  }
  .related-post h3 {
    font-size: 16px;
  }
  .related-post .filter-result-hotel-info .entry-title {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .rating-wrapper .entry-title,
  .rating-wrapper .rating-text {
    font-size: 11px;
  }
  .filter-result-hotel-inner-info h5 {
    font-size: 12px;
    margin-bottom: 7px;
  }
  .filter-result-hotel-price-info {
    margin-bottom: 10px;
  }
  .filter-result-hotel-price-info {
    font-size: 12px;
  }
  .filter-result-hotel-price-info .new-price {
    font-size: 20px;
  }
  .filter-result-hotel-price-btn-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            padding-left: 15px;
  }
  .information h6,
  .information ul li,
  .main-information ul li {
    font-size: 10px;
  }
  .main-information ul li {
    background-position: left 3px;
    background-size: 8px;
    padding-left: 13px;
  }
  .related-post-view-more .box-button {
    font-size: 12px;
  }
  .star-ratings {
    font-size: 20px;
    width: 85px;
  }

}



@media only screen and (max-width: 567px) {

  .booked-hotel-overview .booked-hotel-features ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .booking-title-section.no-page-title .user-travel-detail {
    display: none;
  }

  .page-title-section.booking-title-section .user-travel-detail{
    display: none;
  }

  .flight-search-continue-btn.hotel-booking-review-info{
	display:none;
  }

  .hotel-faq-content-section{

    padding: 0;

  }

  .hotel-faq-content-wrap ul{

    display: flex;

    flex-direction: column;

    gap: 10px;

  }

  .hotel-faq-content-wrap ul li{

    width: 100%;

  }

  .hotel-detail-tags-wrap ul {

    margin: 0;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 5px;

  }

  .hotel-detail-tags-wrap ul li {

    width: 100%;

    padding: 7px 4px;

  }

  .hotel-detail-tags-wrap ul li img {

    height: 15px;

    width: 15px;

  }

  .payment-method-item-wrap {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 7px;

  }

  .flexbox-wrap {

    width: 100%;

  }

  .hotel-secured-msg {

    max-width: unset;

    width: 100%;

    padding: 15px;

  }

  .hotel-secured-msg-content > div {

    padding: 10px;

  }

  .hotel-checkin-detail-content {

    padding: 0;

  }

  .hotel-checkin-detail-content > div {

    padding: 5px;

  }

  .visa-status.visa-application-status ul {

    display: flex;



    flex-direction: column;



    gap: 10px;



    text-align: center;

  }

  .visa-status.visa-payment-status ul {

    display: flex;

    justify-content: space-between;

    align-items: center;

  }

  .visa-status.visa-payment-status ul li {

    display: flex;



    flex-direction: column;



    align-items: center;



  }

  .user-information-content ul {

    display: flex;



    flex-direction: column;



    /* gap: 10px; */



  }

  .user-information-content ul li {

    width: 100%;



  }

  .user-information-content li {

    margin-bottom: 10px;



  }

  .user-information .title-wrap {

    padding: 10px;



  }

  .user-information {

    padding: 10px 30px;



  }

  .required-document-content-section {

    padding: 10px;



  }

  .user-travel-detail.hotel-listing-title-info{

    display: none;

  }

  .single-page-scroll-menu{

    display: none;

  }

  .single-page-hotel-content-wrap > div {

    padding: 20px 0;

  }
  .hotel-faq-question-section {
    padding: 18px 15px;
  }
  .flight-search-mobile-payment-wrap {
    display: grid;
grid-template-columns: auto auto auto;
position: relative;
align-items: center;
justify-content: space-between;
position: sticky;
    bottom: 0;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 0px 2px 1px #00000012;
    border-radius: 3px;
  }
  .flight-search-mobile-payment-wrap .box-button {
    font-size: 12px;
    padding: 13px 31px 12px;
  }
  .flight-search-mobile-payment-wrap .price {
    font-size: 24px;
    font-weight: 500;
  }
  .flight-search-mobile-payment-wrap .room-number {
    font-size: 20px;
  }

}

@media only screen and (max-width: 479px) {

  .hotel-detail-tags-wrap ul {

    margin: 0;

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 8px;

  }

  .hotel-detail-tags-wrap ul li {

    width: 100%;

    padding: 7px 4px;

  }

  .hotel-detail-tags-wrap ul li img {

    height: 15px;

    width: 15px;

  }

  .price-btn-wrap a img {

    width: 30px;



  }

  .booked-hotel-detail-section {

    margin-top: 0;



  }
  .single-page-hotel-content-wrap > div {
    padding: 15px 0;
  }
  .hotel-overview-wrap .entry-header .entry-title {
    font-size: 18px;
  }
  .hotel-overview-wrap .entry-meta-wrap::before {
    top: 3px;
  }
  .entry-meta-wrap {
    gap: 3px 10px;
  }
  .hotel-overview-wrap .entry-meta-wrap ul li a {
    font-size: 12px;
  }
  .hotel-overview-entry-content .entry-content h3,
  .hotel-overview-popular-amenities h4,
  .hotel-overview-property-info > h4 {
    font-size: 16px;
  }
  .hotel-overview-entry-content p,
  .hotel-overview-property-item ul li {
    font-size: 12px;
  }
  .hotel-overview-property-item h5 {
    font-size: 13px;
  }
  .hotel-apartment-show-deals-wrap {
    gap: 3px;
  }
  .hotel-apartment-show-deals-wrap h5 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .apartment-popular-amenities ul li {
    width: 31.5%;
    width: calc(33.33% - 8px);
    width: -webkit-calc(25% - 8px);
  }
  .hotel-apartment-body-item.hotel-apartment-room-select-info, .hotel-apartment-body-item.hotel-apartment-choice-info {
    width: 140px;
  }
  .hotel-apartment-body-item.hotel-apartment-price-info {
    width: 67%;
    width: calc(100% - 150px);
    width: -webkit-calc(100% - 150px);
    padding-top: 20px;
    padding-left: 0;
    padding-right: 5px;
  }
  .hotel-apartment-price-info-wrap .new-price {
    font-size: 20px;
  }
  .hotel-apartment-price-info-wrap .price-btn-wrap a,
  .price-text {
    font-size: 12px;
  }
  .hotel-apartment-body-item.hotel-apartment-choice-info{
    padding-right: 0;
  }
  .hotel-apartment-price-summary {
    padding: 10px;
  }
  .hotel-room-reserve-info .room-number {
    font-size: 12px;
    margin-bottom: 0;
  }
  .hotel-room-reserve-info .discounted-price {
    font-size: 14px;
    margin-bottom: 0;
  }
  .hotel-room-reserve-info .box-button {
    padding: 8px 0;
    font-size: 12px;
  }
  .hotel-apartment-notification-wrap {
    padding: 10px;
  }
  .hotel-amenities-title-wrap ul li {
    padding: 0 5px 0 32px;
    font-size: 12px;
  }
  .hotel-amenities-title-wrap ul li {
    min-width: 47%;
    min-width: calc(50% - 6px);
    min-width: -webkit-calc(50% - 6px);
  }
  .hotel-amenities-title-wrap ul li::before {
    left: 0;
  }
  .hotel-amenities-title-wrap ul {
    gap: 4px;
    margin: 0;
    padding: 10px 0 5px;
  }
  .hotel-amenities-wrap {
    margin-top: 10px;
  }
  .hotel-amenities-wrap .entry-title {
    font-size: 16px;
  }
  .hotel-amenities-info-item h5 {
    font-size: 15px;
  }
  .hotel-amenities-info-item ul li {
    font-size: 12px;
  }
  .more-amenities-link {
    font-size: 12px;
    margin-top: 7px;
  }
  .hotel-amenities-policy-wrap > h4 {
    font-size: 15px;
  }
  .hotel-amenities-info-item-wrap-section {
    margin-bottom: 15px;
  }
  .hotel-amenities-policy-info-item .hotel-amenities-policy-info-heading {
    width: 130px;
  }
  .hotel-amenities-policy-info-item .hotel-amenities-policy-info-content {
    width: 73%;
    width: calc(100% - 130px);
    width: -webkit-calc(100% - 130px);
    font-size: 11px;
    padding-left: 7px;
  }
  .hotel-amenities-breakfast-title-info h6, .hotel-amenities-breakfast-age-price-info h6, .hotel-amenities-breakfast-age-price-info span {
    padding: 8px 9px;
    min-width: 65px;
  }
  .hotel-amenities-breakfast-extra-info p {
    font-size: 10px;
  }
  .hotel-guest-reviews-section .entry-title {
    font-size: 16px;
  }
  .hotel-guest-reviews-section > p {
    font-size: 12px;
  }
  .hotel-guest-reviews-rating .rating-wrapper .entry-title {
    font-size: 14px;
  }
  .hotel-guest-reviews-rating .rating-wrapper .rating-number {
    font-size: 16px;
  }
  .guest-reviews-top-title {
    font-size: 12px;
  }
  .user-reviews-menu-wrap ul {
    gap: 6px;
  }
  .user-reviews-menu-wrap ul li {
    font-size: 11px;
    padding: 7px 12px 6px;
  }
  .hotel-guest-reviews-top-info-wrap {
    padding: 30px 15px 15px;
  }
  .hotel-faq-header .entry-title {
    font-size: 16px;
  }
  .hotel-faq-content-wrap ul li a {
    padding-left: 19px;
    font-size: 12px;
  }
  .hotel-faq-question-wrap h5 {
    font-size: 18px;
    margin-bottom: 10px-;
  }
  .box-button, input[type="submit"], .wpcf7 input[type="submit"]{
    font-size: 14px;
  }
  .hotel-faq-question-wrap .box-button {
    padding: 9px 19px 7px;
    margin-bottom: 14px;
  }
  .hotel-secured-popup-msg-wrap {
    padding: 20px 15px;
  }
  .hotel-secured-popup-msg-wrap h3 {
    font-size: 14px;
  }
  .hotel-secured-popup-msg-wrap .continue-btn {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .flight-search-mobile-payment-wrap .room-number {
    font-size: 14px;
  }
  .flight-search-mobile-payment-wrap .price {
    font-size: 16px;
  }
  .flight-search-mobile-payment-wrap .box-button {
    padding: 11px 22px 10px;
  }

}


@media only screen and (max-width: 375px) {
  .hotel-overview-mobile-rating-btn {
    width: 170px;
  }
  .hotel-overview-mobile-rating-wrap {
    width: 44%;
    width: calc(100% - 170px);
    width: -webkit-calc(100% - 170px);
    padding-right: 5px;
  }
  .hotel-overview-mobile-rating-btn .box-button {
    font-size: 11px;
    padding: 10px 9px 9px;
  }
  .rating-wrapper .rating-number,
  .hotel-overview-mobile-rating .rating-wrapper .rating-number {
    padding: 5px 9px;
    top: -3px;
    font-size: 13px;
  }
  .hotel-overview-mobile-rating-wrap .rating-wrapper {
    padding-left: 43px;
  }
  .more-photos-link {
    font-size: 9px;
    padding: 5px 5px 5px;
  }
  .apartment-popular-amenities ul li {
    width: 47.5%;
    width: calc(50% - 8px);
    width: -webkit-calc(50% - 8px);
  }
  .hotel-apartment-body-item-content h6 {
    font-size: 16px;
  }
  .hotel-apartment-choice-info ul li {
    margin-bottom: 10px;
    font-size: 11px;
    padding-left: 14px;
  }
  .hotel-amenities-title-wrap ul li::before {
    height: 18px;
    width: 18px;
    background-size: 7px;
    top: -3px;
  }
  .hotel-amenities-title-wrap ul li {
    padding: 0 3px 0 23px;
    font-size: 11px;
  }
  .hotel-amenities-info-item {
    min-width: 100%;
    margin-bottom: 6px;
  }
  .hotel-amenities-policy-info-item .hotel-amenities-policy-info-heading {
    width: 110px;
  }
  .hotel-amenities-policy-info-heading h6 {
    font-size: 11px;
  }
  .hotel-amenities-policy-info-item .hotel-amenities-policy-info-content {
    width: 70%;
    width: calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
    font-size: 10px;
    padding-left: 5px;
  }
  .related-post .filter-result-hotel-item .featured-image,
  .related-post .filter-result-hotel-info-wrap {
    width: 100% !important;
  }
  .filter-result-hotel-item .featured-image a {
    display: block;
  }
  .filter-result-hotel-price-wrap {
    margin-top: 0px;
  }
  .filter-result-hotel-price-wrap .rating-wrapper {
    left: 0;
  }

  

}